{% extends 'public.html.twig' %}

{% block content %}
    <section class="iishf__bg iishf__bg--left-bottom">
        <div class="iishf__bg iishf__bg--right-bottom">
            <div class="iishf__bg iishf__bg--left-top">
                {% include 'home/_title.html.twig' with {'title': 'Member countries', 'before': true} %}
                <div class="member">
                    <div class="page-container">
                        {% for ngb in ngbs %}
                            <div class="member__item">
                                <div class="member__logo-item">
                                    {% if ngb.logo %}
                                        <img src="{{ path('app_members_logo', {'ngb': ngb.slug}) }}"
                                             alt="{{ ngb.name|e('html_attr') }}">
                                    {% endif %}
                                </div>
                                <div class="member__descr-item">
                                    <div class="member__info-item">
                                        <h3>{{ ngb.countryName }} ({{ ngb.iocCode }})</h3>
                                        <p class="blue-color">
                                            <b>{{ ngb.name }} ({{ ngb.acronym }})</b>
                                        </p>
                                        {% if ngb.website %}
                                            <p class="blue-color">
                                                <b>Homepage:</b>
                                                <a href="{{ ngb.website }}" target="_blank" rel="noopener"
                                                   referrerpolicy="origin-when-cross-origin">{{ ngb.website }}</a>
                                            </p>
                                        {% endif %}
                                        <p class="blue-color">
                                            <b>E-Mail:</b>
                                            {{ ngb.email|safe_email }}
                                        </p>
                                        {% if ngb.phoneNumber %}
                                            <p class="blue-color">
                                                <b>Telephone:</b>
                                                <a href="{{ ngb.phoneNumber|phone_number_format('RFC3966') }}">
                                                    {{ ngb.phoneNumber|phone_number_format() }}
                                                </a>
                                            </p>
                                        {% endif %}
                                        {% if ngb.facebookProfile %}
                                            <p class="blue-color">
                                                <b>Facebook Profile:</b>
                                                <a href="{{ ('https://www.facebook.com/' ~ ngb.facebookProfile)|e('html_attr') }}"
                                                   target="_blank" rel="noopener"
                                                   referrerpolicy="origin-when-cross-origin">
                                                    {{ ngb.facebookProfile }}
                                                </a>
                                            </p>
                                        {% endif %}
                                        {% if ngb.twitterProfile %}
                                            <p class="blue-color">
                                                <b>Twitter Profile:</b>
                                                <a href="{{ ('https://twitter.com/' ~ (ngb.twitterProfile)|trim('@', 'left'))|e('html_attr') }}"
                                                   target="_blank" rel="noopener"
                                                   referrerpolicy="origin-when-cross-origin">
                                                    {{ ngb.twitterProfile }}
                                                </a>
                                            </p>
                                        {% endif %}
                                        {% if ngb.instagramProfile %}
                                            <p class="blue-color">
                                                <b>Instagram Profile:</b>
                                                <a href="{{ ('https://www.instagram.com/' ~ ngb.instagramProfile ~ '/')|e('html_attr') }}"
                                                   target="_blank" rel="noopener"
                                                   referrerpolicy="origin-when-cross-origin">
                                                    {{ ngb.instagramProfile }}
                                                </a>
                                            </p>
                                        {% endif %}
                                        {% if ngb.tikTokProfile %}
                                            <p class="blue-color">
                                                <b>Tik Tok Profile:</b>
                                                <a href="{{ ('https://tiktok.com/@' ~ ngb.tikTokProfile)|e('html_attr') }}"
                                                   target="_blank" rel="noopener"
                                                   referrerpolicy="origin-when-cross-origin">
                                                    {{ ngb.tikTokProfile }}
                                                </a>
                                            </p>
                                        {% endif %}
                                        {% if ngb.telegramProfile %}
                                            <p class="blue-color">
                                                <b>Telegram Profile:</b>
                                                <a href="{{ ('https://t.me/' ~ ngb.telegramProfile)|e('html_attr') }}"
                                                   target="_blank" rel="noopener"
                                                   referrerpolicy="origin-when-cross-origin">
                                                    {{ ngb.telegramProfile }}
                                                </a>
                                            </p>
                                        {% endif %}
                                    </div>
                                    {# {% include 'common/_more_button.html.twig' with {
                                        'before': true,
                                        'title': 'more information'
                                    } %} #}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
