{% extends 'admin/admin.html.twig' %}

{% block title %}History | {{ parent() }}{% endblock %}

{% block content %}
    <h1>History</h1>

    {% if is_granted('ROLE_ADMIN') %}
        <div class="btn-group" role="group">
            <a href="{{ path('app_admin_history_create') }}" class="btn btn-success">Create</a>
        </div>
    {% endif %}

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Season</th>
            <th scope="col">Event</th>
            <th scope="col">Winner</th>
            <th scope="col">Host</th>
            <th scope="col">Updated</th>
            <th scope="col">&#160;</th>
        </tr>
        </thead>
        <tbody>
        {% for entry in entries %}
            <tr>
                <td>{{ entry.season }}</td>
                <td>
                    {% if entry.championship %}
                        <span class="badge badge-primary">Championship</span>
                    {% else %}
                        <span class="badge badge-secondary">Cup</span>
                    {% endif %}
                    {{ entry.ageGroupName }} {{ entry.event }}
                </td>
                <td>
                    <ol>
                        <li>
                            {% if entry.championship %}
                                {{ entry.winnerCountryName }}
                            {% else %}
                                {{ entry.winnerClub }}, {{ entry.winnerCountryName }}
                            {% endif %}
                        </li>
                        {% if entry.secondPlaceClub or entry.thirdPlaceClub %}
                            {% if entry.secondPlaceClub %}
                                <li>
                                    {% if entry.championship %}
                                        {{ entry.secondPlaceCountryName }}
                                    {% else %}
                                        {{ entry.secondPlaceClub }}, {{ entry.secondPlaceCountryName }}
                                    {% endif %}
                                </li>
                            {% else %}
                                <li>
                                    <em>unknown</em>
                                </li>
                            {% endif %}
                            {% if entry.thirdPlaceClub %}
                                <li>
                                    {% if entry.championship %}
                                        {{ entry.thirdPlaceCountryName }}
                                    {% else %}
                                        {{ entry.thirdPlaceClub }}, {{ entry.thirdPlaceCountryName }}
                                    {% endif %}
                                </li>
                            {% endif %}
                        {% endif %}
                    </ol>
                </td>
                <td>
                    {% if entry.hostClub and entry.hostCountry %}
                        {{ entry.hostClub }}, {{ entry.hostCountryName }}
                    {% endif %}
                </td>
                <td class="text-nowrap">{{ entry.updatedAt|relative_time }}</td>
                <td>
                    <div class="btn-group btn-group-sm" role="group">
                        {% if is_granted('HALL_OF_FAME_ENTRY_EDIT', entry) %}
                            <a href="{{ path('app_admin_history_update', {'entry': entry.id}) }}"
                               class="btn btn-primary">Edit</a>
                        {% endif %}
                        {% if is_granted('HALL_OF_FAME_ENTRY_DELETE', entry) %}
                            {{ include('common/_delete_btn.html.twig', {
                                title: entry.caption,
                                body: 'Do you really want to delete the hall of fame entry?',
                                deleteAction: path('app_admin_history_delete', {'entry': entry.id}),
                                csrfIntention: 'HALL_OF_FAME_ENTRY_DELETE_' ~ entry.id,
                            }) }}
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">No history@ entries found.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
