{% extends 'internal.html.twig' %}

{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% block content %}
    <h1>Reset Password</h1>

    {{ form_start(form) }}

    <div class="form-group row">
        <label for="username" class="col-form-label col-sm-2">User</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="username" value="{{ user.email }}">
        </div>
    </div>

    {{ form_rest(form) }}

    <button type="submit" class="btn btn-primary">Reset Password</button>
    <a href="{{ path('home') }}" class="btn btn-outline-secondary">Home</a>

    {{ form_end(form) }}
{% endblock %}
