{% extends 'public.html.twig' %}

{% block title %}Documents | {{ parent() }}{% endblock %}

{% block breadcrumbs %}
    <span class="breadcrumb-item active">Documents</span>
{% endblock %}

{% block content %}
    <section class="iishf iishf__bg iishf__bg--left-bottom">
        <div class="iishf__bg iishf__bg--right-bottom">
            <div class="iishf__bg iishf__bg--left-top">
                {% include 'home/_title.html.twig' with {'title': 'Documents', 'before': true} %}
                <div class="documents">
                    <div class="page-container">
                        {% for row in documents|batch(4) %}
                            <div class="row documents-row">
                                {% for document in row %}
                                    {% set version = document.findFirstValidVersion %}
                                    <div class="col-3">
                                        <div class="document-item">
                                            <a class="document-item__link"
                                               href="{{ path('app_file_download', {'name': version.fileName}) }}"
                                               target="_blank">
                                                <div class="document-item__type">
                                                    {{ version.version }}
                                                </div>
                                                <div class="document-item__title">
                                                    {{ document.title }}
                                                </div>
                                                <div class="document-item__text">
                                                    Validity: {{ include(
                                                        'admin/document/_version_validity.html.twig', {
                                                            version: version
                                                        }) }},
                                                    Size: {{ version.fileSize|file_size }},
                                                    uploaded {{ version.updatedAt|relative_time }}
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
