{% extends 'public_base.html.twig' %}

{% block content %}
    {# @var event \App\Domain\Model\Event\EuropeanChampionship #}
    <h1>European Championship {{ event.season }} / {{ event.name }}</h1>

    {% embed  'event/_event_detail.html.twig' with {event: event} %}
        {% block more_fields %}
            <dt class="col-2">Planned Length</dt>
            <dd class="col-10">{{ event.plannedLength }}</dd>
            <dt class="col-2">Description</dt>
            <dd class="col-10">
                <div class="trix-content">{{ event.description|purify('article') }}</div>
            </dd>
        {% endblock %}
    {% endembed %}

    <div class="btn-group" role="group">
        <a href="{{ path('app_event_event_season', {season: event.season}) }}"
           class="btn btn-outline-secondary">Back</a>
    </div>
{% endblock %}
