{% extends 'public_base.html.twig' %}

{% block content %}
    {# @var event \App\Domain\Model\Event\EuropeanChampionship #}
    <h1>European Championship {{ event.season }} / {{ event.name }}</h1>

    {{ include('event/_championship_detail.html.twig', {event: event}) }}

    {% embed 'event/_event_workflow_buttons.html.twig' with {event: event} %}
        {% block before_workflow %}
            {% if is_granted('EVENT_EDIT', event) %}
                <a href="{{ path('app_event_event_update', {'season': event.season, event: event.id}) }}"
                   class="btn btn-primary">Edit</a>
            {% endif %}
        {% endblock %}
        {% block after_workflow %}
            {% if is_granted('EVENT_DELETE', event) %}
                {{ include('common/_delete_btn.html.twig', {
                    title: event.name,
                    body: 'Do you really want to delete the European Championship?',
                    deleteAction: path('app_event_event_delete', {'season': event.season, event: event.id}),
                    csrfIntention: 'event_delete_' ~ event.id,
                }) }}
            {% endif %}
            <a href="{{ path('app_event_event_season', {season: event.season}) }}"
               class="btn btn-outline-secondary">Back</a>
        {% endblock %}
    {% endembed %}
{% endblock %}
