{% extends 'public_base.html.twig' %}

{% block content %}
    <h1>Events Season {{ season }}</h1>

    {% if is_granted('ROLE_ADMIN') %}
        <div class="btn-group" role="group">
            <div class="dropdown">
                <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">
                    Create
                </button>
                <div class="dropdown-menu">
                    <a href="{{ path('app_event_event_createchampionship') }}" class="dropdown-item">European
                        Championship</a>
                    <a href="{{ path('app_event_event_createcup') }}" class="dropdown-item">European Cup</a>
                    <div class="dropdown-divider"></div>
                    <a href="{{ path('app_event_event_createtournament') }}" class="dropdown-item">Tournament</a>
                </div>
            </div>
            <a href="{{ path('app_event_eventvenue_list') }}" class="btn btn-secondary">Venues</a>
        </div>
    {% endif %}

    <h2>European Championships</h2>
    {{ include('event/_event_table.html.twig', {events: championships, emptyText: 'No European Championships found.'}) }}

    <h2>European Cups</h2>
    {{ include('event/_event_table.html.twig', {events: cups, emptyText: 'No European Cups found.'}) }}

    <h2>Tournaments</h2>
    {{ include('event/_event_table.html.twig', {events: tournaments, emptyText: 'No tournaments found.'}) }}

{% endblock %}
