{% extends 'admin/admin.html.twig' %}

{% block title %}Committees | {{ parent() }}{% endblock %}

{% block content %}
    <h1>Committees</h1>

    {% if is_granted('ROLE_ADMIN') %}
        <div class="btn-group" role="group">
            <a href="{{ path('app_admin_committee_create') }}" class="btn btn-success">Create</a>
        </div>
    {% endif %}

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Text</th>
            <th scope="col">Members</th>
            <th scope="col">Updated</th>
            <th scope="col">&#160;</th>
        </tr>
        </thead>
        <tbody>
        {% for committee in committees %}
            <tr>
                <td>
                    <a href="{{ path('app_admin_committee_detail', {'committee': committee.slug}) }}">{{ committee.title }}</a>
                </td>
                <td>
                    <div class="trix-content">
                        {{ committee.description|default('')|purify('article') }}
                    </div>
                </td>
                <td>
                    {% if committee.members is not empty %}
                        <ul>
                            {% for member in committee.members %}
                                <li>
                                    {% if member.chairman %}
                                        <span class="badge badge-primary">C</span>
                                    {% elseif member.viceChairman %}
                                        <span class="badge badge-secondary">V</span>
                                    {% endif %}
                                    {{ member.name }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>No members in this committee.</p>
                    {% endif %}
                </td>
                <td class="text-nowrap">{{ committee.updatedAt|relative_time }}</td>
                <td>
                    <div class="btn-group btn-group-sm" role="group">
                        {% if is_granted('COMMITTEE_EDIT', committee) %}
                            <a href="{{ path('app_admin_committee_update', {'committee': committee.id}) }}"
                               class="btn btn-primary">Edit</a>
                        {% endif %}
                        {% if is_granted('COMMITTEE_DELETE', committee) %}
                            {{ include('common/_delete_btn.html.twig', {
                                title: committee.title,
                                body: 'Do you really want to delete the committee?',
                                deleteAction: path('app_admin_committee_delete', {'committee': committee.id}),
                                csrfIntention: 'committee_delete_' ~ committee.id,
                            }) }}
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No committees found.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
