{% extends 'admin/admin.html.twig' %}

{% block title %}Committees | {{ parent() }}{% endblock %}

{% block content %}
    <h1>Committees</h1>

    {% if is_granted('ROLE_ADMIN') %}
        <div class="btn-group" role="group">
            <a href="{{ path('app_admin_committee_create') }}" class="btn btn-success">Create</a>
        </div>
    {% endif %}

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Text</th>
            <th scope="col">Members</th>
            <th scope="col">Updated</th>
            <th scope="col">&#160;</th>
        </tr>
        </thead>
        <tbody>
        {% for member in members %}
            <tr>
                <td>
                    <a href="{{ path('app_admin_staffmember_detail', {'member': member.id}) }}">{{ member.name }}</a>
                </td>
                <td>{{ member.title }}</td>
                <td>
                    {% for role in member.roles %}
                        <span class="badge badge-info">{{ role }}</span>
                    {% endfor %}
                </td>
                <td>
                    <div class="btn-group btn-group-sm" role="group">
                        {% if is_granted('STAFF_MEMBER_EDIT', member) %}
                            <a href="{{ path('app_admin_staffmember_update', {'member': member.id}) }}"
                               class="btn btn-primary">Edit</a>
                        {% endif %}
                        {% if is_granted('STAFF_MEMBER_DELETE', member) %}
                            {{ include('common/_delete_btn.html.twig', {
                                title: member.name,
                                body: 'Do you really want to delete the staff member?',
                                deleteAction: path('app_admin_staffmember_delete', {'member': member.id}),
                                csrfIntention: 'staff_member_delete_' ~ member.id,
                            }) }}
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="card-columns">
        {% for committee in committees %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ committee.title }}</h5>
                    <div class="card-text">
                        <div class="trix-content">
                            {{ committee.description|default('')|purify('article') }}
                        </div>
                        {% if committee.members is not empty %}
                            <ul>
                                {% for member in committee.members %}
                                    <li>
                                        {% if member.chairman %}
                                            <span class="badge badge-primary">C</span>
                                        {% elseif member.viceChairman %}
                                            <span class="badge badge-secondary">V</span>
                                        {% endif %}
                                        {{ member.name }}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>No members in this committee.</p>
                        {% endif %}
                    </div>
                    <div class="btn-group btn-group" role="group">
                        <a href="{{ path('app_admin_committee_detail', {'committee': committee.slug}) }}"
                           class="btn btn-outline-primary">Details</a>
                        {% if is_granted('COMMITTEE_EDIT', committee) %}
                            <a href="{{ path('app_admin_committee_update', {'committee': committee.id}) }}"
                               class="btn btn-primary">Edit</a>
                        {% endif %}
                        {% if is_granted('COMMITTEE_DELETE', committee) %}
                            {{ include('common/_delete_btn.html.twig', {
                                title: committee.title,
                                body: 'Do you really want to delete the committee?',
                                deleteAction: path('app_admin_committee_delete', {'committee': committee.id}),
                                csrfIntention: 'committee_delete_' ~ committee.id,
                            }) }}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
