{% macro renderArticle(article, addImageClass = '') %}
    <div class="m-news__slide-img {{ addImageClass }}">
        {{ render(controller('App\\Controller\\NewsController::articlePrimaryImage', {
            'article': article,
            'alt': article.title,
        })) }}
    </div>
    {% include 'home/_news_content.html.twig' with {'article': article} %}
{% endmacro %}

<section class="m-news m-news__bg">
    {% include 'home/_title.html.twig' with {'title': 'News', 'before': true} %}
    <div id="newsSlider" class="m-news__slider">
        {% for block in articles|batch(4) %}
            {# @var article1 App\Domain\Model\Article\Article #}
            {# @var article2 App\Domain\Model\Article\Article #}
            {# @var article3 App\Domain\Model\Article\Article #}
            {# @var article4 App\Domain\Model\Article\Article #}
            {% set article1 = block[0 + loop.index0 * 4] %}
            {% set article2 = block[1 + loop.index0 * 4] %}
            {% set article3 = block[2 + loop.index0 * 4] %}
            {% set article4 = block[3 + loop.index0 * 4] %}
            <div class="m-news__slide">
                <div class="m-news__slide-container m-news__slide-container--left">
                    {{ _self.renderArticle(article1) }}
                </div>
                <div class="d-flex m-news__slide-right">
                    <div class="m-news__slide-container m-news__slide-container--center">
                        {{ _self.renderArticle(article2, 'position-relative') }}
                    </div>
                    <div class="m-news__slide-container m-news__slide-container--right">
                        <div class="m-news__slide-item m-news__slide-item--top">
                            <div class="d-flex">
                                {{ _self.renderArticle(article3) }}
                            </div>
                        </div>
                        <div class="m-news__slide-item m-news__slide-item--bottom">
                            <div class="d-flex">
                                {{ _self.renderArticle(article4) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
