{% extends 'public_base.html.twig' %}

{% block body %}
    <main class="main main--bg">
        {{ include('_navbar.html.twig') }}

        <div class="m-top-slider__container">
            <div id="mainTopSlider" class="m-top-slider">
                <div class="m-top-slider__slide m-top-slider__slide-img clearfix">
                    <img src="{{ asset('assets/title1.png') }}" alt="">
                    <h1 class="m-top-slider__slide-title">IISHF Vision</h1>
                    <blockquote class="m-top-slider__slide-quote">
                        Inline Skater Hockey is a well-developed sport recognized and played worldwide. Being a physical
                        game and the fastest summer team sport, it is independent from ice hockey and other roller sport
                        disciplines. It remains accessible and affordable to its communities, and excites players,
                        spectators and supporters of all genders, abilities and age groups. Inline Skater Hockey seasons
                        run throughout the entire year with official competitions lasting from early spring to early
                        winter.
                    </blockquote>
                </div>
                <div class="m-top-slider__slide m-top-slider__slide-img clearfix">
                    <img src="{{ asset('assets/title2.png') }}" alt="">
                    <h1 class="m-top-slider__slide-title">IISHF Mission</h1>
                    <blockquote class="m-top-slider__slide-quote">
                        IISHF promotes, develops and safeguards inline skater hockey as a fascinating team sport over
                        all continents from street to elite level.
                    </blockquote>
                </div>
                <div class="m-top-slider__slide m-top-slider__slide-img clearfix">
                    <img src="{{ asset('assets/title3.png') }}" alt="">
                    <h1 class="m-top-slider__slide-title">IISHF Values</h1>
                    <blockquote class="m-top-slider__slide-quote">
                        <ul>
                            <li>Inclusivity</li>
                            <li>Sportsmanship, Fairness & Respect</li>
                            <li>Equality</li>
                            <li>Solidarity</li>
                            <li>Integrity</li>
                        </ul>
                    </blockquote>
                </div>
                <div class="m-top-slider__slide m-top-slider__slide-img clearfix">
                    <img src="{{ asset('assets/title2.png') }}" alt="">
                    <h1 class="m-top-slider__slide-title">IISHF Title Events</h1>
                    <blockquote class="m-top-slider__slide-quote">
                        IISHF organises every year 7 European Cups for Club teams (U13, U16, U19, Women, Men, Men
                        Challenge, Veteran) and 2 European Championships (U19, Men).
                    </blockquote>
                </div>
            </div>
        </div>

        {{ include('home/_section_about_sport.html.twig') }}

        {# {{ include('home/_section_calendar.html.twig') }} #}

        {# {{ include('home/_section_broadcast.html.twig') }} #}

        {% include 'home/_section_news.html.twig' with {'articles': articles} %}

        {{ render(controller('App\\Controller\\HomeController::photoSlider')) }}

        {{ include('home/_section_social.html.twig') }}

        {% include 'home/_section_members.html.twig' with {'members': members} %}

        {# {{ include('home/_section_partners.html.twig') }} #}
    </main>
    {% include '_footer.html.twig' %}
{% endblock %}
