{% extends 'public_base.html.twig' %}

{% block body %}
    <main class="main main--bg">
        {{ include('_navbar.html.twig') }}

        <div class="m-top-slider__container">
            <div id="mainTopSlider" class="m-top-slider">
                {% for i in 0..5 %}
                    <div class="m-top-slider__slide m-top-slider__slide-img">
                        <h1 class="m-top-slider__slide-title">International Inline Skater Hockey Federation</h1>
                        <img src="{{ asset('build/images/main/slider-img.png') }}" alt="" class="img-fluid">
                    </div>
                {% endfor %}
            </div>
        </div>

        {{ include('home/_section_about_sport.html.twig') }}

        {{ include('home/_section_calendar.html.twig') }}

        {{ include('home/_section_broadcast.html.twig') }}

        {% include 'home/_section_news.html.twig' with {'articles': articles} %}

        {{ include('home/_section_photo.html.twig') }}

        {{ include('home/_section_social.html.twig') }}

        {{ include('home/_section_members.html.twig') }}

        {{ include('home/_section_partners.html.twig') }}
    </main>
    {% include '_footer.html.twig' %}
{% endblock %}
