{% extends 'public_base.html.twig' %}

{% block body %}
    <main class="main main--bg">
        {{ include('_navbar.html.twig') }}

        <div class="m-top-slider__container">
            <div id="mainTopSlider" class="m-top-slider">
                <div class="m-top-slider__slide m-top-slider__slide-img clearfix">
                    <img src="{{ asset('assets/title1.png') }}" alt="">
                    <h1 class="m-top-slider__slide-title">International Inline Skater Hockey Federation</h1>
                    <blockquote class="m-top-slider__slide-quote">
                        Inline Skater Hockey is a well-developed sport recognized and played worldwide. Being the
                        fastest and most physical summer team sport, it is independent from ice hockey and other roller
                        sport disciplines. It remains affordable to its communities, and excites players, spectators and
                        supporters of all sexes, abilities and age groups. Inline Skater Hockey seasons run throughout
                        the entire year with official competitions lasting from early spring to early winter.
                    </blockquote>
                </div>
                <div class="m-top-slider__slide m-top-slider__slide-img clearfix">
                    <img src="{{ asset('assets/title2.png') }}" alt="">
                    <h1 class="m-top-slider__slide-title">International Inline Skater Hockey Federation</h1>
                    <blockquote class="m-top-slider__slide-quote">
                        IISHF Mission: IISHF promotes, develops and safeguards inline skater hockey as a fascinating and
                        fair team sport over all continents from street to elite level.
                    </blockquote>
                </div>
                <div class="m-top-slider__slide m-top-slider__slide-img clearfix">
                    <img src="{{ asset('assets/title3.png') }}" alt="">
                    <h1 class="m-top-slider__slide-title">International Inline Skater Hockey Federation</h1>
                    <blockquote class="m-top-slider__slide-quote">
                        IISHF Values:
                        <ul>
                            <li>Tolerance & Non-Discrimination</li>
                            <li>Sportsmanship</li>
                            <li>Fairness & Respect</li>
                            <li>Equality</li>
                            <li>Solidarity and Inclusion</li>
                        </ul>
                    </blockquote>
                </div>
                <div class="m-top-slider__slide m-top-slider__slide-img clearfix">
                    <img src="{{ asset('assets/title2.png') }}" alt="">
                    <h1 class="m-top-slider__slide-title">International Inline Skater Hockey Federation</h1>
                    <blockquote class="m-top-slider__slide-quote">
                        The IISHF organizes 7 European Cups and 2 European Championships every year.
                    </blockquote>
                </div>
            </div>
        </div>

        {{ include('home/_section_about_sport.html.twig') }}

        {# {{ include('home/_section_calendar.html.twig') }} #}

        {# {{ include('home/_section_broadcast.html.twig') }} #}

        {% include 'home/_section_news.html.twig' with {'articles': articles} %}

        {{ render(controller('App\\Controller\\HomeController::photoSlider')) }}

        {{ include('home/_section_social.html.twig') }}

        {% include 'home/_section_members.html.twig' with {'members': members} %}

        {# {{ include('home/_section_partners.html.twig') }} #}
    </main>
    {% include '_footer.html.twig' %}
{% endblock %}
