{% extends 'public_base.html.twig' %}

{% block body %}
    <main class="main main--bg">
        {{ include('_navbar.html.twig') }}

        <div class="m-top-slider__container">
            <div id="mainTopSlider" class="m-top-slider">
                {% for i in 0..5 %}
                    <div class="m-top-slider__slide m-top-slider__slide-img">
                        <h1 class="m-top-slider__slide-title">International Inline Skater Hockey Federation</h1>
                        <img src="{{ asset('build/images/main/slider-img.png') }}" alt="" class="img-fluid">
                    </div>
                {% endfor %}
            </div>
        </div>

        <section class="m-about m-about__bg">
            <div class="container-fluid">
                {% include 'home/_title.html.twig' with {'title': 'About sport', 'before': false} %}
                <div class="m-about__text-container">
                    <img src="{{ asset('build/images/main/about-sport__img.png') }}" alt="" class="m-about__img">
                    <div class="m-about__text">
                        Roller hockey was born a few decades ago. Only at that time the wheels in the rollers were
                        arranged in two rows, and such a vehicle for movement was called Quad. This sport was called
                        differently, but most often you could hear about rink hockey. Such roller hockey has become
                        widespread in 60 countries, and even up to this point they continue to play it.
                        <div class="text-center">
                            {% include 'home/_more_button.html.twig' with {'class': 'm-about__btn'} %}
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="m-calendar">
            <div class="m-calendar__bg m-calendar__bg--left">
                <div class="m-calendar__bg m-calendar__bg--right">
                    {% include 'home/_title.html.twig' with {'title': 'Calendar', 'before': true} %}
                    <div class="container-fluid">
                        <div class="m-calendar__content">
                            <div id="externalTitle" class="text-center"></div>

                            <ul class="nav nav-pills mb-3 d-flex justify-content-center" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#pills-home"
                                       role="tab"
                                       aria-controls="pills-home" aria-selected="true"><span>Today</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-profile-tab" data-toggle="pill"
                                       href="#pills-profile" role="tab"
                                       aria-controls="pills-profile" aria-selected="false"><span>Tournament</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link mr-0" id="pills-contact-tab" data-toggle="pill"
                                       href="#pills-contact"
                                       role="tab"
                                       aria-controls="pills-contact" aria-selected="false"><span>Other event</span></a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade" id="pills-home" role="tabpanel"
                                     aria-labelledby="pills-home-tab">
                                    <div id="calendarToday"></div>
                                </div>
                                <div class="tab-pane fade show active" id="pills-profile" role="tabpanel"
                                     aria-labelledby="pills-profile-tab">
                                    <div id="calendarTournament"></div>
                                </div>
                                <div class="tab-pane fade" id="pills-contact" role="tabpanel"
                                     aria-labelledby="pills-contact-tab">
                                    <div id="calendarOther"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="m-broadcast m-broadcast__bg">
            <div class="col-12">
                {% include 'home/_title.html.twig' with {'title': 'Broadcast', 'before': true} %}
                <div class="m-broadcast__video-container">
                    <video src="" poster="{{ asset('build/images/main/broadcast-img.png') }}" class="w-100"></video>
                </div>
            </div>
        </section>

        <section class="m-news m-news__bg">
            {% include 'home/_title.html.twig' with {'title': 'News', 'before': true} %}
            <div id="newsSlider" class="m-news__slider">
                <div class="m-news__slide">
                    <div class="m-news__slide-container m-news__slide-container--left">
                        <div class="m-news__slide-img">
                            <img src="{{ asset('build/images/main/news-slide-img--1.png') }}" alt="" class="img-fluid">
                        </div>
                        <div class="m-news__slide-content">
                            <span class="m-news__slide-text">hockey day</span>
                            <span class="m-news__slide-date">/ 12.01.19</span>
                            <div class="m-news__slide-title">December 1 - All-Russia Hockey Day!</div>
                            {% include 'home/_more_button.html.twig' %}
                        </div>
                    </div>
                    <div class="d-flex m-news__slide-right">
                        <div class="m-news__slide-container m-news__slide-container--center">
                            <div class="m-news__slide-img position-relative">
                                <img src="{{ asset('build/images/main/news-slide-img--2.png') }}" alt=""
                                     class="img-fluid
                                d-block d-xl-none">
                                <div class="m-news__slide-content">
                                    <span class="m-news__slide-text">hockey day</span>
                                    <span class="m-news__slide-date">/ 12.01.19</span>
                                    <div class="m-news__slide-title">December 1 - All-Russia Hockey Day!</div>
                                    {% include 'home/_more_button.html.twig' %}
                                </div>
                            </div>
                        </div>
                        <div class="m-news__slide-container m-news__slide-container--right">
                            <div class="m-news__slide-item m-news__slide-item--top">
                                <div class="d-flex">
                                    <div class="m-news__slide-img">
                                        <img src="{{ asset('build/images/main/news-slide-img--3.png') }}" alt=""
                                             class="img-fluid">
                                    </div>
                                    <div class="m-news__slide-content">
                                        <span class="m-news__slide-text">hockey day</span>
                                        <span class="m-news__slide-date">/12.01.19</span>
                                        <div class="m-news__slide-title">December 1 - All-Russia Hockey Day!</div>
                                        {% include 'home/_more_button.html.twig' %}
                                    </div>
                                </div>
                            </div>
                            <div class="m-news__slide-item m-news__slide-item--bottom">
                                <div class="d-flex">
                                    <div class="m-news__slide-img">
                                        <img src="{{ asset('build/images/main/news-slide-img--4.png') }}" alt=""
                                             class="img-fluid">
                                    </div>
                                    <div class="m-news__slide-content">
                                        <span class="m-news__slide-text">hockey day</span>
                                        <span class="m-news__slide-date">/ 12.01.19</span>
                                        <div class="m-news__slide-title">December 1 - All-Russia Hockey Day!</div>
                                        {% include 'home/_more_button.html.twig' %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-news__slide">
                    <div class="m-news__slide-container m-news__slide-container--left">
                        <div class="m-news__slide-img">
                            <img src="{{ asset('build/images/main/news-slide-img--1.png') }}" alt="" class="img-fluid">
                        </div>
                        <div class="m-news__slide-content">
                            <span class="m-news__slide-text">hockey day</span>
                            <span class="m-news__slide-date">/ 19.01.19</span>
                            <div class="m-news__slide-title">December 1 - All-Russia Hockey Day!</div>
                            {% include 'home/_more_button.html.twig' %}
                        </div>
                    </div>
                    <div class="d-flex m-news__slide-right">
                        <div class="m-news__slide-container m-news__slide-container--center">
                            <div class="m-news__slide-img position-relative">
                                <img src="{{ asset('build/images/main/news-slide-img--2.png') }}" alt=""
                                     class="img-fluid
                                d-block d-xl-none">
                                <div class="m-news__slide-content">
                                    <span class="m-news__slide-text">hockey day</span>
                                    <span class="m-news__slide-date">/ 12.01.19</span>
                                    <div class="m-news__slide-title">December 1 - All-Russia Hockey Day!</div>
                                    {% include 'home/_more_button.html.twig' %}
                                </div>
                            </div>
                        </div>
                        <div class="m-news__slide-container m-news__slide-container--right">
                            <div class="m-news__slide-item m-news__slide-item--top">
                                <div class="d-flex">
                                    <div class="m-news__slide-img">
                                        <img src="{{ asset('build/images/main/news-slide-img--3.png') }}" alt=""
                                             class="img-fluid">
                                    </div>
                                    <div class="m-news__slide-content">
                                        <span class="m-news__slide-text">hockey day</span>
                                        <span class="m-news__slide-date">/12.01.19</span>
                                        <div class="m-news__slide-title">December 1 - All-Russia Hockey Day!</div>
                                        {% include 'home/_more_button.html.twig' %}
                                    </div>
                                </div>
                            </div>
                            <div class="m-news__slide-item m-news__slide-item--bottom">
                                <div class="d-flex">
                                    <div class="m-news__slide-img">
                                        <img src="{{ asset('build/images/main/news-slide-img--4.png') }}" alt=""
                                             class="img-fluid">
                                    </div>
                                    <div class="m-news__slide-content">
                                        <span class="m-news__slide-text">hockey day</span>
                                        <span class="m-news__slide-date">/ 12.01.19</span>
                                        <div class="m-news__slide-title">December 1 - All-Russia Hockey Day!</div>
                                        {% include 'home/_more_button.html.twig' %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-news__slide">
                    <div class="m-news__slide-container m-news__slide-container--left">
                        <div class="m-news__slide-img">
                            <img src="{{ asset('build/images/main/news-slide-img--1.png') }}" alt="" class="img-fluid">
                        </div>
                        <div class="m-news__slide-content">
                            <span class="m-news__slide-text">hockey day</span>
                            <span class="m-news__slide-date">/ 12.01.19</span>
                            <div class="m-news__slide-title">December 1 - All-Russia Hockey Day!</div>
                            {% include 'home/_more_button.html.twig' %}
                        </div>
                    </div>
                    <div class="d-flex m-news__slide-right">
                        <div class="m-news__slide-container m-news__slide-container--center">
                            <div class="m-news__slide-img position-relative">
                                <img src="{{ asset('build/images/main/news-slide-img--2.png') }}" alt=""
                                     class="img-fluid
                                d-block d-xl-none">
                                <div class="m-news__slide-content">
                                    <span class="m-news__slide-text">hockey day</span>
                                    <span class="m-news__slide-date">/ 12.01.19</span>
                                    <div class="m-news__slide-title">December 1 - All-Russia Hockey Day!</div>
                                    {% include 'home/_more_button.html.twig' %}
                                </div>
                            </div>
                        </div>
                        <div class="m-news__slide-container m-news__slide-container--right">
                            <div class="m-news__slide-item m-news__slide-item--top">
                                <div class="d-flex">
                                    <div class="m-news__slide-img">
                                        <img src="{{ asset('build/images/main/news-slide-img--3.png') }}" alt=""
                                             class="img-fluid">
                                    </div>
                                    <div class="m-news__slide-content">
                                        <span class="m-news__slide-text">hockey day</span>
                                        <span class="m-news__slide-date">/12.01.19</span>
                                        <div class="m-news__slide-title">December 1 - All-Russia Hockey Day!</div>
                                        {% include 'home/_more_button.html.twig' %}
                                    </div>
                                </div>
                            </div>
                            <div class="m-news__slide-item m-news__slide-item--bottom">
                                <div class="d-flex">
                                    <div class="m-news__slide-img">
                                        <img src="{{ asset('build/images/main/news-slide-img--4.png') }}" alt=""
                                             class="img-fluid">
                                    </div>
                                    <div class="m-news__slide-content">
                                        <span class="m-news__slide-text">hockey day</span>
                                        <span class="m-news__slide-date">/ 12.01.19</span>
                                        <div class="m-news__slide-title">December 1 - All-Russia Hockey Day!</div>
                                        {% include 'home/_more_button.html.twig' %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="m-photo m-photo__bg m-photo__bg--right">
            <div class="m-photo__bg m-photo__bg--left">
                {% include 'home/_title.html.twig' with {'title': 'Photo', 'before': true} %}
                <div id="photoSlider" class="m-photo__slider">
                    {% for i in 0..1 %}
                        {% for j in 1..4 %}
                            <div class="m-photo__slide">
                                <img src="{{ asset('build/images/main/photo-slide-img--'~j~'.png') }}" alt=""
                                     class="img-fluid">
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </section>

        <section class="m-social">
            <div class="m-social__bg m-social__bg--left">
                <div class="m-social__bg m-social__bg--right">
                    {% include 'home/_title.html.twig' with {'title': 'We are in social networks', 'before': true} %}
                    <div class="m-social__container">
                        <div class="col-12">
                            <div class="row">
                                {% for i in 0..2 %}
                                    <div class="col-12 col-md-4 text-center">
                                        <img src="{{ asset('build/images/main/social__plug-img.png') }}" alt=""
                                             class="img-fluid w-100">
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="m-members m-members__bg">
            {% include 'home/_title.html.twig' with {'title': 'Federation members', 'before': true} %}
            <div id="memberCarousel" class="m-members__carousel">
                {% for i in 1..6 %}
                    <div>
                        <a href="#" class="d-flex justify-content-center">
                            <img src="{{ asset('build/images/main/members-slide-img--'~i~'.png') }}" alt="">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </section>

        <section class="m-partners">
            <div class="m-partners__bg m-partners__bg--left">
                <div class="m-partners__bg m-partners__bg--right">
                    {% include 'home/_title.html.twig' with {'title': 'Partners and Sponsors', 'before': true} %}
                    <div id="partnersCarousel" class="m-partners__carousel">
                        {% for i in 0..7 %}
                            <div>
                                <a href="#" class="d-flex justify-content-center align-items-center">
                                    <img src="{{ asset('build/images/main/partners-slide-img--1.png') }}" alt="">
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>

        <div class="container-fluid">
            {% for row in articles|batch(2) %}
                <div class="card-deck mb-4">
                    {% for article in row %}
                        {# @var article \App\Domain\Model\Article\Article #}
                        <div class="card">
                            <div class="card-header">
                                {{ include('common/_tags.html.twig', {tags: article.tags}) }}
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{ article.title }}</h5>
                                {% if article.subtitle is not null %}
                                    <h6 class="card-subtitle mb-2 text-muted text-truncate">{{ article.subtitle }}</h6>
                                {% endif %}
                                <div class="card-text news-text">
                                    {% if article.legacyFormat %}
                                        <div>{{ article.body|article_legacy_body }}</div>
                                    {% else %}
                                        <div class="trix-content">{{ article.body|purify('article') }}</div>
                                    {% endif %}
                                </div>
                                <a href="{{ path('app_article_detail', {article: article.slug}) }}"
                                   class="card-link">Read</a>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Published {{ article.publishedAt|relative_time }}</small>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </main>
    {% include '_footer.html.twig' %}
{% endblock %}
