{% extends 'public_base.html.twig' %}

{% block body %}
    <main class="main main--bg">
        {{ include('_navbar.html.twig') }}

        <div class="m-top-slider__container">
            <div id="mainTopSlider" class="m-top-slider">
                <div class="m-top-slider__slide m-top-slider__slide-img">
                    <h1 class="m-top-slider__slide-title">
                        Inline Skater Hockey is a well-developed sport recognized and played worldwide. Being the
                        fastest and most physical summer team sport, it is independent from ice hockey and other roller
                        sport disciplines. It remains affordable to its communities, and excites players, spectators and
                        supporters of all sexes, abilities and age groups. Inline Skater Hockey seasons run throughout
                        the entire year with official competitions lasting from early spring to early winter.
                    </h1>
                    <img src="{{ asset('assets/title1.png') }}" alt="" class="img-fluid">
                </div>
                <div class="m-top-slider__slide m-top-slider__slide-img">
                    <h1 class="m-top-slider__slide-title">
                        IISHF Mission: IISHF promotes, develops and safeguards inline skater hockey as a fascinating and
                        fair team sport over all continents from street to elite level.
                    </h1>
                    <img src="{{ asset('assets/title2.png') }}" alt="" class="img-fluid">
                </div>
                <div class="m-top-slider__slide m-top-slider__slide-img">
                    <h1 class="m-top-slider__slide-title">
                        IISHF Values
                        • Tolerance & Non-Discrimination
                        • Sportsmanship, Fairness & Respect
                        • Equality
                        • Solidarity
                        • Inclusion
                    </h1>
                    <img src="{{ asset('assets/title3.png') }}" alt="" class="img-fluid">
                </div>
            </div>
        </div>

        {{ include('home/_section_about_sport.html.twig') }}

        {# {{ include('home/_section_calendar.html.twig') }} #}

        {# {{ include('home/_section_broadcast.html.twig') }} #}

        {% include 'home/_section_news.html.twig' with {'articles': articles} %}

        {{ render(controller('App\\Controller\\HomeController::photoSlider')) }}

        {{ include('home/_section_social.html.twig') }}

        {% include 'home/_section_members.html.twig' with {'members': members} %}

        {# {{ include('home/_section_partners.html.twig') }} #}
    </main>
    {% include '_footer.html.twig' %}
{% endblock %}
