{{ form_start(form) }}

{{ form_rest(form) }}

<div class="btn-group" role="group">
    <button type="submit" class="btn btn-{{ submitBtnType|default('primary') }}">
        {{ submitBtnText|default('Update') }}</button>
    <a href="{{ path('app_admin_halloffame_list') }}" class="btn btn-light">Cancel</a>
</div>

{{ form_end(form) }}
