{% extends 'public_base.html.twig' %}

{% block content %}
    <h1>National Governing Bodies</h1>

    {% if is_granted('ROLE_ADMIN') %}
        <div class="btn-group" role="group">
            <a href="{{ path('app_nationalgoverningbody_create') }}" class="btn btn-primary">Create</a>
        </div>
    {% endif %}

    <div class="card-columns">
        {% for ngb in ngbs %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ ngb.countryName }}</h5>
                    <h6 class="card-subtitle">{{ ngb.acronym }}</h6>
                    <p class="card-text">{{ ngb.name }}</p>
                    <a href="{{ path('app_nationalgoverningbody_getdetail', {'ngb': ngb.slug}) }}" class="card-link">Details</a>
                    {% if is_granted('NATIONAL_GOVERNING_BODY_EDIT', ngb) %}
                        <a href="{{ path('app_nationalgoverningbody_update', {'ngb': ngb.id}) }}"
                           class="card-link">Edit</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
