{% extends 'admin_base.html.twig' %}

{% block content %}
    <h1>{{ ngb.name }}</h1>

    {{ form_start(form) }}

    <input type="file" name="test" class="filepond" accept="image/*"
           data-label-idle="Drag & Drop your picture or <span class=&quot;filepond--label-action&quot;>Browse</span>"
           data-image-preview-max-file-size="4000000"
           data-style-panel-layout="integrated"
           data-style-load-indicator-position="center bottom"
           data-style-progress-indicator-position="right bottom"
           data-style-button-remove-item-position="left bottom"
           data-style-button-process-item-position="right bottom"
           data-image-preview-height="400"
           data-image-resize-target-width="1400"
           data-image-resize-target-height="400"
           data-image-resize-mode="force"
           data-max-file-size="16000000"/>

    {{ form_rest(form) }}

    <div class="btn-group" role="group">
        <button type="submit" class="btn btn-primary">Update</button>
        <a href="{{ path('app_nationalgoverningbody_getlist') }}" class="btn btn-outline-secondary">Back</a>
    </div>

    {{ form_end(form) }}
{% endblock %}
