{% extends 'public_base.html.twig' %}

{% block content %}
    <h1>Files</h1>

    {% if activeFilters is not empty %}
        <div class="card mb-4">
            <div class="card-body">
                {% for activeFilter in activeFilters %}
                    <a class="badge badge-pill badge-primary"
                       href="{{ activeFilter.removeUrl }}">{{ activeFilter.value }}</a>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Size</th>
            <th scope="col">Created</th>
            <th scope="col">&#160;</th>
        </tr>
        </thead>
        <tbody>
        {% for file in files %}
            <tr>
                <th scope="row">{{ files.nbResults -  loop.index0 - files.currentPageOffsetStart + 1 }}</th>
                <td>
                    <a href="{{ path('app_file_download', {'name': file.name, 'download': 1}) }}" target="_blank"
                       title="Download {{ file.clientName|e('html_attr') }}" data-toggle="tooltip" data-placement="top">
                        <i class="fas fa-download"></i>
                    </a>
                    <a href="{{ path('app_file_download', {'name': file.name}) }}" target="_blank">{{ file.name }}</a>
                    <div class="small">
                        <a class="badge badge-dark"
                           href="{{ path('app_file_getlist', currentFilters|merge({origin: file.origin})) }}">{{ file.origin }}</a>
                        <span>{{ file.binary.hash|file_hash }}</span>
                    </div>
                    {% if file.originalName %}
                        <div class="small text-muted">{{ file.originalName }}</div>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('app_file_getlist', currentFilters|merge({type: file.mimeType})) }}">{{ file.mimeType }}</a>
                </td>
                <td>{{ file.size|file_size }}</td>
                <td class="text-nowrap">{{ file.createdAt|relative_time }}</td>
                <td>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">No files found.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if files.haveToPaginate %}
        <nav>
            {{ pagerfanta(files) }}
        </nav>
    {% endif %}
{% endblock %}
