{% extends 'public.html.twig' %}

{% block content %}
    <section class="iishf__bg iishf__bg--left-bottom">
        <div class="iishf__bg iishf__bg--right-bottom">
            <div class="iishf__bg iishf__bg--left-top">
                {% include 'home/_title.html.twig' with {'title': 'Committees', 'before': true} %}
                <div class="committees">
                    <div class="page-container">
                        <div class="committees-item">
                            <div class="committees-item__header">
                                <p>
                                    <b>IISHF Disciplinary Committee</b> <br>
                                    nominated by the IISHF Presidium 2017 for 2 years (2017 + 2018)
                                </p>
                            </div>
                            <div class="committees-carousel">
                                <div class="committees-carousel__item">
                                    <div class="committees-carousel__img">
                                        <img src="{{ asset('build/images/main/com.jpg') }}" alt="">
                                    </div>
                                    <div class="committees-carousel__name">Carsten Lykkegaard</div>
                                    <div class="committees-carousel__country">Denmark</div>
                                    <div class="committees-carousel__pos">Disciplinary Officer</div>
                                </div>
                                <div class="committees-carousel__item">
                                    <div class="committees-carousel__img">
                                        <img src="{{ asset('build/images/main/com.jpg') }}" alt="">
                                    </div>
                                    <div class="committees-carousel__name">Carsten Lykkegaard</div>
                                    <div class="committees-carousel__country">Denmark</div>
                                    <div class="committees-carousel__pos">Disciplinary Officer</div>
                                </div>
                                <div class="committees-carousel__item">
                                    <div class="committees-carousel__img">
                                        <img src="{{ asset('build/images/main/com.jpg') }}" alt="">
                                    </div>
                                    <div class="committees-carousel__name">Carsten Lykkegaard</div>
                                    <div class="committees-carousel__country">Denmark</div>
                                    <div class="committees-carousel__pos">Disciplinary Officer</div>
                                </div>
                                <div class="committees-carousel__item">
                                    <div class="committees-carousel__img">
                                        <img src="{{ asset('build/images/main/com.jpg') }}" alt="">
                                    </div>
                                    <div class="committees-carousel__name">Carsten Lykkegaard</div>
                                    <div class="committees-carousel__country">Denmark</div>
                                    <div class="committees-carousel__pos">Disciplinary Officer</div>
                                </div>
                            </div>
                        </div>
                        <div class="committees-item">
                            <div class="committees-item__header">
                                <p>
                                    <b>IISHF Disciplinary Committee</b> <br>
                                    nominated by the IISHF Presidium 2017 for 2 years (2017 + 2018)
                                </p>
                            </div>
                            <div class="committees-carousel">
                                <div class="committees-carousel__item">
                                    <div class="committees-carousel__img">
                                        <img src="{{ asset('build/images/main/com.jpg') }}" alt="">
                                    </div>
                                    <div class="committees-carousel__name">Carsten Lykkegaard</div>
                                    <div class="committees-carousel__country">Denmark</div>
                                    <div class="committees-carousel__pos">Disciplinary Officer</div>
                                </div>
                                <div class="committees-carousel__item">
                                    <div class="committees-carousel__img">
                                        <img src="{{ asset('build/images/main/com.jpg') }}" alt="">
                                    </div>
                                    <div class="committees-carousel__name">Carsten Lykkegaard</div>
                                    <div class="committees-carousel__country">Denmark</div>
                                    <div class="committees-carousel__pos">Disciplinary Officer</div>
                                </div>
                                <div class="committees-carousel__item">
                                    <div class="committees-carousel__img">
                                        <img src="{{ asset('build/images/main/com.jpg') }}" alt="">
                                    </div>
                                    <div class="committees-carousel__name">Carsten Lykkegaard</div>
                                    <div class="committees-carousel__country">Denmark</div>
                                    <div class="committees-carousel__pos">Disciplinary Officer</div>
                                </div>
                                <div class="committees-carousel__item">
                                    <div class="committees-carousel__img">
                                        <img src="{{ asset('build/images/main/com.jpg') }}" alt="">
                                    </div>
                                    <div class="committees-carousel__name">Carsten Lykkegaard</div>
                                    <div class="committees-carousel__country">Denmark</div>
                                    <div class="committees-carousel__pos">Disciplinary Officer</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
