{% extends 'public.html.twig' %}

{% block content %}
    <section class="iishf__bg iishf__bg--left-bottom">
        <div class="iishf__bg iishf__bg--right-bottom">
            <div class="iishf__bg iishf__bg--left-top">
                {% include 'home/_title.html.twig' with {'title': 'Committees', 'before': true} %}
                <div class="committees">
                    <div class="page-container">
                        {% for committee in committees %}
                            <div class="committees-item">
                                <div class="committees-item__header">
                                    <p>
                                        <b>{{ committee.title }}</b> <br>
                                        {{ committee.description|default('')|purify('article') }}
                                    </p>
                                </div>
                                {% if committee.members is not empty %}
                                    <div class="committees-carousel">
                                        {% for member in committee.members %}
                                            <div class="committees-carousel__item">
                                                <div class="committees-carousel__img">
                                                    <img src="{{ asset('build/images/main/com.jpg') }}" alt="">
                                                </div>
                                                <div class="committees-carousel__name">{{ member.name }}</div>
                                                <div class="committees-carousel__country">{{ member.countryName }}</div>
                                                <div class="committees-carousel__pos">
                                                    {{ member.title }}<br/>
                                                    {{ member.termTypeDescription }}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
