{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('admin') }}
{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ path('app_admin_home_index') }}">IISHF</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu"
                aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_admin_article_list') }}">Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_admin_document_list') }}">Documents</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_admin_event_event_current') }}">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_admin_nationalgoverningbody_list') }}">Members</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">IISHF</a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="{{ path('app_admin_staffmember_list') }}">Staff</a>
                        <a class="dropdown-item" href="{{ path('app_admin_committee_list') }}">Committees</a>
                        <a class="dropdown-item" href="{{ path('app_admin_halloffame_list') }}">Hall of Fame</a>
                    </div>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_admin_user_list') }}">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_admin_file_list') }}">Files</a>
                    </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav">
                {% if app.user %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                            <i class="fas fa-user"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <h6 class="dropdown-header">{{ app.user.username }}</h6>
                            <a class="dropdown-item" href="{{ path('home') }}">Public Website</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('app_account_changepassword') }}">Change Password</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ logout_path() }}">Logout</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('login') }}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
