{% extends 'admin/admin.html.twig' %}

{% block content %}
    <div class="list-group">
        <a class="list-group-item list-group-item-action" href="{{ path('app_admin_article_list') }}">Articles</a>
        <a class="list-group-item list-group-item-action" href="{{ path('app_admin_document_list') }}">Documents</a>
        <a class="list-group-item list-group-item-action" href="{{ path('app_admin_event_event_current') }}">Events</a>
        <a class="list-group-item list-group-item-action" href="{{ path('app_admin_nationalgoverningbody_list') }}">
            Members
        </a>
        <a class="list-group-item list-group-item-action" href="{{ path('app_admin_staffmember_list') }}" role="button">Staff</a>
        <a class="list-group-item list-group-item-action" href="{{ path('app_admin_committee_list') }}" role="button">Committees</a>
        <a class="list-group-item list-group-item-action" href="{{ path('app_admin_history_list') }}" role="button">History</a>
        {% if is_granted('ROLE_ADMIN') %}
            <a class="list-group-item list-group-item-action" href="{{ path('app_admin_user_list') }}">Users</a>
            <a class="list-group-item list-group-item-action" href="{{ path('app_admin_file_list') }}">Files</a>
        {% endif %}
    </div>
{% endblock %}
