{% extends 'admin/admin.html.twig' %}

{% block title %}Documents | {{ parent() }}{% endblock %}

{% block content %}
    <h1>{{ document.title }}</h1>

    {{ form_start(form) }}

    {{ form_rest(form) }}

    <div class="btn-group" role="group">
        <button type="submit" class="btn btn-primary">Update</button>
        <a href="{{ path('app_admin_document_list') }}" class="btn btn-light">Cancel</a>
    </div>

    {{ form_end(form) }}
{% endblock %}
