{% extends 'public.html.twig' %}

{% block breadcrumbs %}
    <span class="breadcrumb-item active">IISHF</span>
{% endblock %}

{% block content %}
    <section class="iishf__bg iishf__bg--left-bottom">
        <div class="iishf__bg iishf__bg--right-bottom">
            <div class="iishf__bg iishf__bg--left-top">
                {% include 'home/_title.html.twig' with {'title': 'Committees', 'before': true} %}
                <div class="committees">
                    <div class="page-container">
                        {% if staff is not empty %}
                            <div class="committees-item">
                                <div class="committees-item__header">
                                    <p>
                                        <b>IISHF Staff Members</b>
                                    </p>
                                </div>
                                <div class="committees-carousel">
                                    {% for member in staff %}
                                        <div class="committees-carousel__item">
                                            <div class="committees-carousel__img">
                                                {% if member.image %}
                                                    <img src="{{ path('app_iishf_staffmemberimage', {'member': member.id}) }}"
                                                         alt="{{ member.name|e('html_attr') }}">
                                                {% endif %}
                                            </div>
                                            <div class="committees-carousel__name">{{ member.name }}</div>
                                            <div class="committees-carousel__country">{{ member.email|safe_email }}</div>
                                            <div class="committees-carousel__pos">
                                                {{ member.title }}<br/>
                                                {{ member.roles|join(', ', ' and ') }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}

                        {% for committee in committees %}
                            {% if committee.members is not empty %}
                                <div class="committees-item">
                                    <div class="committees-item__header">
                                        <p>
                                            <b>{{ committee.title }}</b> <br>
                                            {{ committee.description|default('')|purify('article') }}
                                        </p>
                                    </div>

                                    <div class="committees-carousel">
                                        {% for member in committee.members %}
                                            <div class="committees-carousel__item">
                                                <div class="committees-carousel__img">
                                                    {% if member.image %}
                                                        <img src="{{ path('app_iishf_committeememberimage', {'member': member.id}) }}"
                                                             alt="{{ member.name|e('html_attr') }}">
                                                    {% endif %}
                                                </div>
                                                <div class="committees-carousel__name">{{ member.name }}</div>
                                                <div class="committees-carousel__country">{{ member.countryName }}</div>
                                                <div class="committees-carousel__pos">
                                                    {{ member.title }}<br/>
                                                    {{ member.termTypeDescription }}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
