<div class="news__item">
    <div class="news__img-item">
        <a href="{{ path('app_news_detail', {'article': article.slug}) }}">
            {{ render(controller('App\\Controller\\NewsController::articlePrimaryImage', {
                'article': article,
                'alt': article.title,
            })) }}
        </a>
    </div>
    <div class="news__descr-item">
        <div class="news__date">
            <span>{{ article.tags|join(', ') }}</span> /
            {{ article.publishedAt|relative_time }}
        </div>
        <h3>{{ article.title }}</h3>
        <p>{{ article.subtitle }}</p>
        {% include 'common/_more_button.html.twig' with {
            'href': path('app_news_detail', {'article': article.slug})
        } %}
    </div>
</div>
