{% extends 'public.html.twig' %}

{% block title %}Archive | News | {{ parent() }}{% endblock %}

{% block breadcrumbs %}
    <a class="breadcrumb-item" href="{{ path('app_news_index') }}">News</a>
    <span class="breadcrumb-item active">Archive</span>
{% endblock %}

{% block content %}
    <section class="iishf__bg iishf__bg--left-bottom">
        <div class="iishf__bg iishf__bg--right-bottom">
            <div class="iishf__bg iishf__bg--left-top">
                {% include 'home/_title.html.twig' with {'title': 'News Archive', 'before': true} %}
                <div class="news-archive">
                    <div class="page-container">
                        <div class="news-archive__table">
                            <table>
                                <thead>
                                <tr>
                                    <td>#</td>
                                    <td>Title</td>
                                    <td>Date</td>
                                </tr>
                                </thead>
                                <tbody>
                                {% for article in articles %}
                                    <tr>
                                        <td>{{ articles.nbResults -  loop.index0 - articles.currentPageOffsetStart + 1 }}</td>
                                        <td>
                                            <a href="{{ path('app_news_detail', {'article': article.slug}) }}">{{ article.title }}</a>
                                            {% if article.subtitle %}
                                                <p class="small text-muted">{{ article.subtitle }}</p>
                                            {% endif %}
                                        </td>
                                        <td>{{ article.publishedAt|relative_time }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
