{% extends 'public.html.twig' %}

{% block content %}
    <section class="iishf__bg iishf__bg--left-bottom">
        <div class="iishf__bg iishf__bg--right-bottom">
            <div class="iishf__bg iishf__bg--left-top">
                {% include 'home/_title.html.twig' with {'title': article.title, 'before': true} %}
                <div class="news">
                    <div class="page-container">
                        <div class="text-block">
                            <p>
                                {{ article.subtitle }}
                            </p>
                            <div>
                                {% if article.legacyFormat %}
                                    <div class="clearfix">
                                        {% if images|default(false) and images.hasPrimaryImage %}
                                            {# @var primaryImage App\Domain\Model\Article\ArticleImage #}
                                            {% set primaryImage = images.primaryImage %}
                                            <figure class="figure float-left mr-4" style="max-width: 300px;">
                                                <a href="{{ path('app_file_download', {'name': primaryImage.name}) }}"
                                                   target="_blank">
                                                    <img src="{{ path('app_file_download', {'name': primaryImage.name, 'w': 300}) }}"
                                                         class="figure-img img-fluid rounded"
                                                         alt="{{ primaryImage.caption|default(primaryImage.clientName)|e('html_attr') }}">
                                                </a>
                                                {% if primaryImage.caption is not empty %}
                                                    <figcaption
                                                            class="figure-caption">{{ primaryImage.caption }}</figcaption>
                                                {% endif %}
                                            </figure>
                                        {% endif %}
                                        {{ article.body|article_legacy_body }}
                                    </div>
                                    {% if documents|default(false) and documents is not empty %}
                                        <div class="card my-4">
                                            <div class="card-header">Documents</div>
                                            <div class="list-group list-group-flush">
                                                {% for document in documents %}
                                                    {# @var document App\Domain\Model\Article\ArticleDocument #}
                                                    <a href="{{ path('app_file_download', {'name': document.name}) }}"
                                                       target="_blank"
                                                       class="list-group-item list-group-item-action">{{ document.title }}</a>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if images|default(false) and images.hasSecondaryImages %}
                                        <div class="card my-4">
                                            <div class="card-header">Images</div>
                                            <div class="card-body">
                                                <div class="container">
                                                    {% for row in images.secondaryImages|batch(5) %}
                                                        <div class="row">
                                                            {% for image in row %}
                                                                {# @var image App\Domain\Model\Article\ArticleImage #}
                                                                <div class="col">
                                                                    <figure class="figure float-left">
                                                                        <a href="{{ path('app_file_download', {'name': image.name}) }}"
                                                                           target="_blank">
                                                                            <img src="{{ path('app_file_download', {'name': image.name}) }}"
                                                                                 class="figure-img img-fluid rounded"
                                                                                 alt="{{ image.caption|default(image.clientName)|e('html_attr') }}">
                                                                        </a>
                                                                        {% if image.caption is not empty %}
                                                                            <figcaption
                                                                                    class="figure-caption small">{{ image.caption }}</figcaption>
                                                                        {% endif %}
                                                                    </figure>
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% else %}
                                    <div class="trix-content">{{ article.body|purify('article') }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="news-more">
                    {% include 'home/_title.html.twig' with {'title': 'Latest news', 'before': true} %}
                    <div class="news-more__list">
                        <div class="page-container">
                            <div class="row">
                                {% for article in latest %}
                                    <div class="col-md-6">
                                        <div class="news__item">
                                            <div class="news__img-item">
                                                <a href="{{ path('app_news_detail', {'article': article.slug}) }}">
                                                    <img src="{{ asset('build/images/other/hockey-day.jpg') }}" alt="">
                                                </a>
                                            </div>
                                            <div class="news__descr-item">
                                                <div class="news__date">
                                                    <span>{{ article.title }}</span> /
                                                    {{ article.publishedAt|relative_time }}
                                                </div>
                                                <h3>{{ article.subtitle }}</h3>
                                                {% include 'common/_more_button.html.twig' with {
                                                    'href': path('app_news_detail', {'article': article.slug})
                                                } %}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
