<form action="{{ action }}" method="{{ method|default('post') }}">
    {% block form_fields %}{% endblock %}
    {% if csrfIntention|default(false) %}
        <input type="hidden" name="_token" value="{{ csrf_token(csrfIntention) }}"/>
    {% endif %}
    <button type="button" class="btn btn-light" data-dismiss="modal">{{ cancelBtn|default('Cancel') }}</button>
    <button type="submit" class="btn btn-primary">{{ submitBtn }}</button>
</form>