{{ form_start(form) }}

{{ form_rest(form) }}

{% if team is defined %}
    {% set cancelPath = path('app_event_participatingteam_detail', {
        event: team.event.id,
        team: team.id
    }) %}
{% else %}
    {% set cancelPath = path('app_event_event_detail', {season: event.season, event: event.slug}) %}
{% endif %}

<div class="btn-group" role="group">
    <button type="submit" class="btn btn-{{ submitBtnType|default('primary') }}">
        {{ submitBtnText|default('Update') }}</button>
    <a href="{{ cancelPath }}" class="btn btn-light">Cancel</a>
</div>

{{ form_end(form) }}