{% extends 'public_base.html.twig' %}

{% block content %}
    <h1>{{ team.name }}</h1>

    <dl class="row">
        <dt class="col-2">ID</dt>
        <dd class="col-10">{{ team.id }}</dd>
        <dt class="col-2">Contact</dt>
        <dd class="col-10">{{ team.contact.name }}</dd>
        <dt class="col-2">E-mail</dt>
        <dd class="col-10">{{ team.contact.email|safe_email }}</dd>
        <dt class="col-2">Telephone</dt>
        <dd class="col-10">
            {% if team.contact.phoneNumber %}
                <a href="{{ team.contact.phoneNumber|phone_number_format('RFC3966') }}">{{ team.contact.phoneNumber|phone_number_format() }}</a>
            {% endif %}
        </dd>
        <dt class="col-2">Last Updated</dt>
        <dd class="col-10">{{ team.updatedAt|relative_time }}</dd>
        <dt class="col-2">Created</dt>
        <dd class="col-10">{{ team.createdAt|relative_time }}</dd>
    </dl>

    <div class="btn-group" role="group">
        {% if is_granted('EVENT_EDIT', event) %}
            <a href="{{ path('app_event_participatingteam_update', {
                event: event.id,
                teamId: team.id
            }) }}"
               class="btn btn-primary">Edit</a>
            {{ include('common/_delete_btn.html.twig', {
                title: team.name,
                body: 'Do you really want to remove the team?',
                deleteBtn: 'Remove',
                deleteAction: path('app_event_participatingteam_remove', {
                    event: event.id,
                    teamId: team.id
                }),
                csrfIntention: 'event_team_remove_' ~ team.id,
            }) }}
        {% endif %}
        <a href="{{ path('app_event_event_detail', {season: event.season, event: event.slug}) }}"
           class="btn btn-outline-secondary">Back</a>
    </div>
{% endblock %}
