<div class="container-fluid">
    <div class="navbar-container">
        <nav class="navbar navbar-expand-md navbar-light">
            <a class="navbar-brand" href="{{ path('home') }}">
                <img src="{{ asset('assets/logo.png') }}" alt="logo" class="img-fluid w-100">
            </a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
                    data-target="#collapsibleNavId"
                    aria-controls="collapsibleNavId"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    {# <li class="nav-item active">
                        <a class="nav-link text-uppercase" href="{{ path('app_calendar_index') }}">Calendar</a>
                    </li> #}
                    <li class="nav-item active">
                        <a class="nav-link text-uppercase" href="{{ path('app_news_index') }}">News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" href="{{ path('app_documents_index') }}">Documents</a>
                    </li>
                    {# <li class="nav-item">
                        <a class="nav-link text-uppercase" href="#">Events</a>
                    </li> #}
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" href="{{ path('app_members_index') }}">Members</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" href="{{ path('app_halloffame_index') }}">History</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" href="{{ path('app_iishf_index') }}">IISHF</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    {% if app.user %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-uppercase" href="#" id="userDropdown"
                               data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false"><i class="fas fa-user"></i></a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                                <h2 class="dropdown-header">{{ app.user.username }}</h2>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a class="dropdown-item"
                                       href="{{ path('app_admin_home_index') }}">Administration</a>
                                    <div class="dropdown-divider"></div>
                                {% endif %}
                                <a class="dropdown-item" href="{{ path('app_account_changepassword') }}">Change
                                    Password</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ logout_path() }}">Logout</a>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link text-uppercase" href="{{ path('login') }}">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
</div>
