{% extends 'bootstrap_4_layout.html.twig' %}

{% block choice_widget_collapsed -%}
    {% if enable_select2|default(false) %}
        {%- set attr = attr|merge({
            'data-enable-select2': 'true',
            'data-select2-options': select2_options|default({})|json_encode
        }) -%}
    {% endif %}
    {{- parent() -}}
{%- endblock choice_widget_collapsed %}

{% block datepicker_widget %}
    {% set pickerId = id ~ '_picker' %}
    {% set pickerTarget = '#' ~ pickerId %}
    {% set attr = attr|merge({
        'data-target': pickerTarget,
        'class': 'datetimepicker-input'
    }) %}
    <div class="input-group date" id="{{ pickerId }}" data-target-input="nearest"
         data-enable-datepicker="true"
         data-datepicker-options="{{ datepicker_options|default({})|json_encode|e('html_attr') }}">
        {{ block('form_widget_simple') }}
        <div class="input-group-append" data-target="{{ pickerTarget }}" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fas fa-calendar"></i></div>
        </div>
    </div>
{% endblock %}

{% block time_widget -%}
    {% if enable_datepicker|default(false) and widget == 'single_text' %}
        {{ block('datepicker_widget') }}
    {% else -%}
        {{- parent() -}}
    {% endif %}
{%- endblock %}

{% block date_widget -%}
    {% if enable_datepicker|default(false) and widget == 'single_text' %}
        {{ block('datepicker_widget') }}
    {% else -%}
        {{- parent() -}}
    {% endif %}
{%- endblock %}

{% block datetime_widget -%}
    {% if enable_datepicker|default(false) and widget == 'single_text' %}
        {{ block('datepicker_widget') }}
    {% else -%}
        {{- parent() -}}
    {% endif %}
{%- endblock %}

{% block tag_widget -%}
    {%- set attr = attr|merge({
        'data-enable-select2': 'true',
        'data-select2-options': select2_options|default({})|json_encode
    }) -%}
    {{ block('choice_widget_collapsed') }}
{%- endblock %}

{% block trix_editor_widget -%}
    {% set allowUpload =  enable_upload != null %}
    {% set trixOptions =  {uploadUrl: enable_upload, allowUpload: allowUpload, allowDelete: allowUpload} %}
    <div data-enable-trix="true" data-name="{{ full_name }}" data-value="{{ value|default('')|e('html_attr') }}"
         data-trix-options="{{ trixOptions|json_encode }}" class="trix-editor"></div>
{%- endblock %}