{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('public') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('public') }}
{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">IISHF</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu"
                aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('home') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_article_getlist') }}">Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_document_getlist') }}">Documents</a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_file_getlist') }}">Files</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_nationalgoverningbody_getlist') }}">NGBs</a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_user_getlist') }}">Users</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}