{% extends 'admin/admin.html.twig' %}

{% block content %}
    <h1>Staff Members</h1>

    {% if is_granted('ROLE_ADMIN') %}
        <div class="btn-group" role="group">
            <a href="{{ path('app_admin_staffmember_create') }}" class="btn btn-success">Create</a>
        </div>
    {% endif %}

    <div class="card-columns">
        {% for member in members %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ member.name }}</h5>
                    <h6 class="card-subtitle">{{ member.title }}</h6>
                    <div class="card-text">
                        {% for role in member.roles %}
                            <span class="badge badge-info">{{ role }}</span>
                        {% endfor %}
                    </div>
                    <div class="btn-group btn-group" role="group">
                        <a href="{{ path('app_admin_staffmember_detail', {'member': member.id}) }}"
                           class="btn btn-outline-primary">Details</a>
                        {% if is_granted('STAFF_MEMBER_EDIT', member) %}
                            <a href="{{ path('app_admin_staffmember_update', {'member': member.id}) }}"
                               class="btn btn-primary">Edit</a>
                        {% endif %}
                        {% if is_granted('STAFF_MEMBER_DELETE', member) %}
                            {{ include('common/_delete_btn.html.twig', {
                                title: member.name,
                                body: 'Do you really want to delete the staff member?',
                                deleteAction: path('app_admin_staffmember_delete', {'member': member.id}),
                                csrfIntention: 'staff_member_delete_' ~ member.id,
                            }) }}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
