{% extends 'admin/admin.html.twig' %}

{% block title %}Staff | {{ parent() }}{% endblock %}

{% block content %}
    <h1>Staff Members</h1>

    {% if is_granted('ROLE_ADMIN') %}
        <div class="btn-group" role="group">
            <a href="{{ path('app_admin_staffmember_create') }}" class="btn btn-success">Create</a>
        </div>
    {% endif %}

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Title</th>
            <th scope="col">Roles</th>
            <th scope="col">Updated</th>
            <th scope="col">&#160;</th>
        </tr>
        </thead>
        <tbody>
        {% for member in members %}
            <tr>
                <td>
                    <a href="{{ path('app_admin_staffmember_detail', {'member': member.id}) }}">{{ member.name }}</a>
                </td>
                <td>{{ member.title }}</td>
                <td>
                    {% for role in member.roles %}
                        <span class="badge badge-info">{{ role }}</span>
                    {% endfor %}
                </td>
                <td class="text-nowrap">{{ member.updatedAt|relative_time }}</td>
                <td>
                    <div class="btn-group btn-group-sm" role="group">
                        {% if is_granted('STAFF_MEMBER_EDIT', member) %}
                            <a href="{{ path('app_admin_staffmember_update', {'member': member.id}) }}"
                               class="btn btn-primary">Edit</a>
                        {% endif %}
                        {% if is_granted('STAFF_MEMBER_DELETE', member) %}
                            {{ include('common/_delete_btn.html.twig', {
                                title: member.name,
                                body: 'Do you really want to delete the staff member?',
                                deleteAction: path('app_admin_staffmember_delete', {'member': member.id}),
                                csrfIntention: 'staff_member_delete_' ~ member.id,
                            }) }}
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No staff members found.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
