{% extends 'public_base.html.twig' %}

{% block content %}
    <h1>Create Venue</h1>

    {{ form_start(form) }}

    {{ form_rest(form) }}

    <div class="btn-group" role="group">
        <button type="submit" class="btn btn-primary">{{ 'Create'|default('Update') }}</button>
        <a href="{{ path('app_event_eventvenue_list') }}" class="btn btn-light">Cancel</a>
    </div>

    {{ form_end(form) }}
{% endblock %}
