{% extends 'internal.html.twig' %}

{% block content %}
    <h1>{{ venue.name }}</h1>

    <dl class="row">
        <dt class="col-2">ID</dt>
        <dd class="col-10">{{ venue.id }}</dd>
        <dt class="col-2">Address</dt>
        <dd class="col-10">
            {{ venue.address.address1 }}<br/>
            {{ venue.address.address2 }}<br/>
            {{ venue.address.state }}<br/>
            {{ venue.address.city }}<br/>
            {{ venue.address.postalCode }}<br/>
            {{ venue.address.countryName }}
        </dd>
        <dt class="col-2">Rink Info</dt>
        <dd class="col-10">
            <div class="trix-content">{{ venue.rinkInfo|default('')|purify('article') }}</div>
        </dd>
        <dt class="col-2">Last Updated</dt>
        <dd class="col-10">{{ venue.updatedAt|relative_time }}</dd>
        <dt class="col-2">Created</dt>
        <dd class="col-10">{{ venue.createdAt|relative_time }}</dd>
    </dl>

    <div class="btn-group" role="group">
        {% if is_granted('EVENT_VENUE_EDIT', venue) %}
            <a href="{{ path('app_event_eventvenue_update', {'venue': venue.id}) }}"
               class="btn btn-primary">Edit</a>
        {% endif %}
        {% if is_granted('EVENT_VENUE_DELETE', venue) %}
            {{ include('common/_delete_btn.html.twig', {
                title: venue.name,
                body: 'Do you really want to delete the venue?',
                deleteAction: path('app_event_eventvenue_delete', {'venue': venue.id}),
                csrfIntention: 'venue_delete_' ~ venue.id,
            }) }}
        {% endif %}
        <a href="{{ path('app_event_eventvenue_list') }}" class="btn btn-outline-secondary">Back</a>
    </div>
{% endblock %}
