{% extends 'public_base.html.twig' %}

{% block content %}
    <h1>{{ document.title }}</h1>

    {{ include('document/_document_detail.html.twig', {document: document}) }}

    {% set validVersion = document.findFirstValidVersion %}
    {% if validVersion %}
        <div class="card my-4">
            <div class="card-body">
                <h5 class="card-title">Current Version</h5>
                {{ include('document/_version_detail.html.twig', {version: validVersion}) }}
            </div>
        </div>
    {% endif %}

    <div class="card my-4">
        <div class="card-body">
            <h5 class="card-title">Versions</h5>
            {% if is_granted('DOCUMENT_EDIT', document) %}
                <div class="btn-group" role="group">
                    <a href="{{ path('app_document_createversion', {document: document.id}) }}" class="btn btn-success">Create</a>
                </div>
            {% endif %}
            <table class="table table-sm">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Version</th>
                    <th scope="col">Valid</th>
                    <th scope="col">Type</th>
                    <th scope="col">Size</th>
                    <th scope="col">Created</th>
                    <th scope="col">&#160;</th>
                </tr>
                </thead>
                <tbody>
                {% for version in document.versions %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>
                            <a href="{{ path('app_document_version', {
                                'document': document.slug,
                                'version': version.slug
                            }) }}">{{ version.version }}</a>
                        </td>
                        <td>{{ include('document/_version_validity.html.twig', {version: version}) }}</td>
                        <td>{{ version.fileType }}</td>
                        <td>{{ version.fileSize|file_size }}</td>
                        <td class="text-nowrap">{{ version.createdAt|relative_time }}</td>
                        <td>
                            <div class="btn-group btn-group-sm" role="group">
                                {% if is_granted('DOCUMENT_VERSION_EDIT', version) %}
                                    <a href="{{ path('app_document_updateversion', {
                                        'document': document.id,
                                        'version': version.id
                                    }) }}" class="btn btn-primary">Edit</a>
                                {% endif %}
                                {% if is_granted('DOCUMENT_VERSION_DELETE', version) %}
                                    {{ include('common/_delete_btn.html.twig', {
                                        title: version.title,
                                        body: 'Do you really want to delete the document version?',
                                        deleteAction: path('app_document_deleteversion', {'document': document.id, 'version': version.id}),
                                        csrfIntention: 'document_version_delete_' ~ version.id,
                                    }) }}
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">No document versions found.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="btn-group" role="group">
        {% if is_granted('DOCUMENT_EDIT', document) %}
            <a href="{{ path('app_document_update', {'document': document.id}) }}" class="btn btn-primary">Edit</a>
        {% endif %}
        {% if is_granted('DOCUMENT_DELETE', document) %}
            {{ include('common/_delete_btn.html.twig', {
                title: document.title,
                body: 'Do you really want to delete the document?',
                deleteAction: path('app_document_delete', {'document': document.id}),
                csrfIntention: 'document_delete_' ~ document.id,
            }) }}
        {% endif %}
        <a href="{{ path('app_document_list') }}" class="btn btn-outline-secondary">Back</a>
    </div>
{% endblock %}
