{% extends 'public_base.html.twig' %}

{% block content %}
    <h1>Documents</h1>

    {% if is_granted('ROLE_ADMIN') %}
        <div class="btn-group" role="group">
            <a href="{{ path('app_document_create') }}" class="btn btn-primary">Create</a>
        </div>
    {% endif %}

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Tags</th>
            <th scope="col">Version</th>
            <th scope="col">Valid</th>
            <th scope="col">Type</th>
            <th scope="col">Size</th>
            <th scope="col">Created</th>
            <th scope="col">&#160;</th>
        </tr>
        </thead>
        <tbody>
        {% for document in documents %}
            {% set validVersion = document.findFirstValidVersion %}
            <tr>
                <th scope="row">{{ loop.index0 + documents.currentPageOffsetStart }}</th>
                <td>
                    <a href="{{ path('app_document_getdetail', {'document': document.slug}) }}">{{ document.title }}</a>
                </td>
                <td class="text-nowrap">
                    {% for tag in document.tags %}
                        <span class="badge badge-secondary">{{ tag }}</span>
                    {% endfor %}
                </td>
                <td>
                    {% if validVersion %}
                        <a href="{{ path('app_document_getversiondetail', {
                            'document': document.slug,
                            'version': validVersion.slug
                        }) }}">{{ validVersion.version }}</a>
                    {% endif %}
                </td>
                <td>
                    {% if validVersion %}
                        {{ include('document/_version_validity.html.twig', {version: validVersion}) }}
                    {% endif %}
                </td>
                <td>
                    {% if validVersion %}
                        {{ validVersion.fileType }}
                    {% endif %}
                </td>
                <td>
                    {% if validVersion %}
                        {{ validVersion.fileSize|file_size }}
                    {% endif %}
                </td>
                <td class="text-nowrap">
                    {% if validVersion %}
                        {{ validVersion.createdAt|relative_time }}
                    {% endif %}
                </td>
                <td>
                    <div class="btn-group btn-group-sm" role="group">
                        {% if is_granted('DOCUMENT_EDIT', document) %}
                            <a href="{{ path('app_document_update', {'document': document.id}) }}"
                               class="btn btn-primary">Edit</a>
                        {% endif %}
                        {% if is_granted('DOCUMENT_DELETE', document) %}
                            {{ include('common/_delete_btn.html.twig', {
                                title: 'Delete document',
                                body: 'Do you really want to delete the document?',
                                deleteAction: path('app_document_delete', {'document': document.id}),
                                csrfIntention: 'document_delete_' ~ document.id,
                            }) }}
                        {% endif %}
                    </div>
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if documents.haveToPaginate %}
        <nav>
            {{ pagerfanta(documents) }}
        </nav>
    {% endif %}
{% endblock %}
