{% extends 'public_base.html.twig' %}

{% block content %}
    <h1>{{ version.title }}</h1>

    {{ include('document/_version_detail.html.twig', {version: version}) }}

    <div class="card my-4">
        <div class="card-body">
            <h5 class="card-title">Document</h5>
            {{ include('document/_document_detail.html.twig', {document: version.document}) }}
        </div>
    </div>

    <div class="btn-group" role="group">
        {% if is_granted('DOCUMENT_VERSION_EDIT', version) %}
            <a href="{{ path('app_document_updateversion', {
                'document': version.document.slug,
                'version': version.id
            }) }}"
               class="btn btn-primary">Edit</a>
        {% endif %}
        <a href="{{ path('app_document_getdetail', {'document': version.document.slug}) }}"
           class="btn btn-outline-secondary">Back</a>
    </div>
{% endblock %}
