{% extends 'public_base.html.twig' %}

{% block content %}
    <h1>{{ version.title }}</h1>

    {{ form_start(form) }}

    {{ form_rest(form) }}

    <div class="btn-group" role="group">
        <button type="submit" class="btn btn-primary">Update</button>
        <a href="{{ path('app_document_getdetail', {'document': version.document.slug}) }}"
           class="btn btn-outline-secondary">Back</a>
    </div>

    {{ form_end(form) }}
{% endblock %}
