{% extends 'admin/admin.html.twig' %}

{% block content %}
    <h1>
        {{ include('admin/article/_article_state.html.twig', {article: article}) }}
        {{ article.title }}
    </h1>

    {{ include('admin/article/_article_detail.html.twig', {article: article}) }}

    {% if versions is not empty and is_granted('ARTICLE_EDIT', article) %}
        <div class="card my-4">
            <div class="card-body">
                <h5 class="card-title">History</h5>
                <table class="table table-sm">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Version</th>
                        <th scope="col">Date</th>
                        <th scope="col">Action</th>
                        <th scope="col">User</th>
                        <th scope="col">&#160;</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for version in versions %}
                        <tr {% if loop.index0 == 0 %}class="table-info"{% endif %}>
                            <td>{{ version.version }}</td>
                            <td>{{ version.loggedAt|relative_time }}</td>
                            <td>{{ version.action }}</td>
                            <td>{{ version.username }}</td>
                            <td>
                                {% if loop.index0 == 0 %}
                                    <span class="text-muted">Current</span>
                                {% else %}
                                    <a href="{{ path('app_admin_article_preview', {
                                        'article': article.id,
                                        'version': version.version}) }}">Show</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}

    {% embed 'admin/article/_article_workflow_buttons.html.twig' with {article: article} %}
        {% block before_workflow %}
            {% if is_granted('ARTICLE_EDIT', article) %}
                <a href="{{ path('app_admin_article_update', {'article': article.id}) }}"
                   class="btn btn-primary">Edit</a>
            {% endif %}
        {% endblock %}
        {% block after_workflow %}
            {% if is_granted('ARTICLE_DELETE', article) %}
                {{ include('common/_delete_btn.html.twig', {
                    title: article.title,
                    body: 'Do you really want to delete the article?',
                    deleteAction: path('app_admin_article_delete', {'article': article.id}),
                    csrfIntention: 'article_delete_' ~ article.id,
                }) }}
            {% endif %}
            <a href="{{ path('app_admin_article_list') }}" class="btn btn-outline-secondary">Back</a>
        {% endblock %}
    {% endembed %}
{% endblock %}
