{% extends 'admin/admin.html.twig' %}

{% block content %}
    {{ form_start(form) }}

    {% set workflowColor = workflow_metadata(article, 'color', transition) %}
    <div class="alert alert-{{ workflowColor }}" role="alert">
        <h1 class="alert-heading">{{ article.title }}</h1>
        <p>{{ workflow_metadata(article, 'confirm', transition) }}</p>
        {{ form_rest(form) }}
        <hr/>
        <div class="btn-group" role="group">
            <button type="submit" class="btn btn-{{ workflowColor }}">
                {{ workflow_metadata(article, 'confirm_btn', transition) }}
            </button>
            <a href="{{ path('app_admin_article_list', {all: true}) }}" class="btn btn-light">Cancel</a>
        </div>
    </div>
    {{ form_end(form) }}

    {{ include('admin/article/_article_detail.html.twig', {article: article}) }}
{% endblock %}
