{% set ngb = ngb|default(null) %}

{% macro withHelp(field, help) %}
    <div class="form-group">
        {{- form_label(field) -}}
        {{- form_widget(field) -}}
        {% if help|default(null) %}
            <small class="form-text text-muted">{{ help }}</small>
        {% endif %}
    </div>
{% endmacro %}

{% import _self as forms %}

{{ form_start(form) }}

<div class="card my-4">
    <h5 class="card-header">Logo</h5>
    <div class="card-body">
        {% if ngb and ngb.logo %}
            <img src="{{ path('app_members_logo', {'ngb': ngb.slug}) }}"
                 alt="{{ ngb.name|e('html_attr') }}" class="img-fluid mx-auto d-block my-2"/>
            {% if form.removeLogo is defined %}
                {{ form_row(form.removeLogo) }}
            {% endif %}
        {% endif %}
        {{ form_row(form.logo) }}
    </div>
</div>

{{ form_row(form.name) }}
{{ form_row(form.acronym) }}

{% set iocCodeHelp %}
    Please see <a href="https://en.wikipedia.org/wiki/List_of_IOC_country_codes">List of IOC country
    codes</a> on Wikipedia.
{% endset %}
{{ forms.withHelp(form.iocCode, iocCodeHelp) }}

{{ form_row(form.country) }}
{{ form_row(form.email) }}
{{ form_row(form.website) }}
{{ form_row(form.phoneNumber) }}

<div class="card my-4">
    <h5 class="card-header">Social Media</h5>
    <div class="card-body">
        {% set facebookProfileHelp %}
            Extract the Facebook profile from the profile URL <code>https://www.facebook.com/PROFILE</code>.
        {% endset %}
        {{ forms.withHelp(form.facebookProfile, facebookProfileHelp) }}

        {% set twitterProfileHelp %}
            The Twitter profile is the Twitter username (<code>PROFILE</code> for
            <code>https://twitter.com/PROFILE</code>).
        {% endset %}
        {{ forms.withHelp(form.twitterProfile, twitterProfileHelp) }}

        {% set instagramProfileHelp %}
            The Instagram profile is the Instagram username (<code>PROFILE</code> for
            <code>https://www.instagram.com/PROFILE/</code>).
        {% endset %}
        {{ forms.withHelp(form.instagramProfile, instagramProfileHelp) }}

        {% set tikTokProfileHelp %}
            The Tik Tok profile is the Tik Tok username (<code>PROFILE</code> for
            <code>https://tiktok.com/@PROFILE</code>).
        {% endset %}
        {{ forms.withHelp(form.tikTokProfile, tikTokProfileHelp) }}

        {% set telegramProfileHelp %}
            The Telegram profile is the Telegram username (<code>PROFILE</code> for
            <code>https://t.me/PROFILE</code>).
        {% endset %}
        {{ forms.withHelp(form.telegramProfile, telegramProfileHelp) }}

        {% set youTubeChannelHelp %}
            The YouTube channel is the channel id (<code>CHANNEL</code> for
            <code>https://www.youtube.com/channel/CHANNEL</code>).
        {% endset %}
        {{ forms.withHelp(form.youTubeChannel, youTubeChannelHelp) }}

        {% set youTubeProfileHelp %}
            The YouTube profile is the YouTube username (<code>PROFILE</code> for
            <code>https://www.youtube.com/user/PROFILE</code>).
        {% endset %}
        {{ forms.withHelp(form.youTubeProfile, youTubeProfileHelp) }}

        {% set vimeoProfileHelp %}
            The Vimeo profile is the Vimeo username (<code>PROFILE</code> for
            <code>https://vimeo.com/PROFILE</code>). The Vimeo username always stars with
            <code>user</code>.
        {% endset %}
        {{ forms.withHelp(form.vimeoProfile, vimeoProfileHelp) }}
    </div>
</div>

{{ form_rest(form) }}

<div class="btn-group" role="group">
    <button type="submit" class="btn btn-{{ submitBtnType|default('primary') }}">
        {{ submitBtnText|default('Update') }}</button>
    <a href="{{ path('app_admin_nationalgoverningbody_list') }}" class="btn btn-light">Cancel</a>
</div>

{{ form_end(form) }}
