{% extends 'admin/admin.html.twig' %}

{% block title %}Members | {{ parent() }}{% endblock %}

{% block content %}
    <h1>Members</h1>

    {% if is_granted('ROLE_ADMIN') %}
        <div class="btn-group" role="group">
            <a href="{{ path('app_admin_nationalgoverningbody_create') }}" class="btn btn-success">Create</a>
        </div>
    {% endif %}

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Acronym</th>
            <th scope="col">Country Name</th>
            <th scope="col">E-mail</th>
            <th scope="col">Updated</th>
            <th scope="col">&#160;</th>
        </tr>
        </thead>
        <tbody>
        {% for ngb in ngbs %}
            <tr>
                <td><a href="{{ path('app_admin_nationalgoverningbody_detail', {'ngb': ngb.slug}) }}">{{ ngb.name }}</a>
                </td>
                <td>{{ ngb.acronym }}</td>
                <td>{{ ngb.countryName }}</td>
                <td>{{ ngb.email|safe_email }}</td>
                <td class="text-nowrap">{{ ngb.updatedAt|relative_time }}</td>
                <td>
                    <div class="btn-group btn-group-sm" role="group">
                        {% if is_granted('NATIONAL_GOVERNING_BODY_EDIT', ngb) %}
                            <a href="{{ path('app_admin_nationalgoverningbody_update', {'ngb': ngb.id}) }}"
                               class="btn btn-primary">Edit</a>
                        {% endif %}
                        {% if is_granted('NATIONAL_GOVERNING_BODY_DELETE', ngb) %}
                            {{ include('common/_delete_btn.html.twig', {
                                title: ngb.name,
                                body: 'Do you really want to delete the national governing body?',
                                deleteAction: path('app_admin_nationalgoverningbody_delete', {'ngb': ngb.id}),
                                csrfIntention: 'ngb_delete_' ~ ngb.id,
                            }) }}
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">No members found.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
