{% extends 'public_base.html.twig' %}

{% block content %}
    <h1>{{ article.title }}</h1>

    <dl class="row">
        <dt class="col-2">ID</dt>
        <dd class="col-10">{{ article.id }}</dd>
        <dt class="col-2">Slug</dt>
        <dd class="col-10">{{ article.slug }}</dd>
        <dt class="col-2">Published</dt>
        <dd class="col-10">{{ article.publishedAt|date }}</dd>
        <dt class="col-2">Tags</dt>
        <dd class="col-10">
            {% for tag in article.tags %}
                <span class="badge badge-info">{{ tag }}</span>
            {% endfor %}
        </dd>
        <dt class="col-2">Title</dt>
        <dd class="col-10">{{ article.title }}</dd>
        <dt class="col-2">Subtitle</dt>
        <dd class="col-10">{{ article.subtitle }}</dd>
        <dt class="col-2">Body</dt>
        <dd class="col-10">{{ article|article_body_format }}</dd>
    </dl>

    <a href="{{ path('app_article_getlist') }}" class="btn btn-outline-secondary">Back</a>
{% endblock %}
