{% extends 'public_base.html.twig' %}

{% block content %}
    <h1>
        {% if workflow_has_marked_place(article, 'draft') %}
            <span class="badge badge-light">{{ workflow_metadata(article, 'title', 'draft') }}</span>
        {% elseif workflow_has_marked_place(article, 'review') %}
            <span class="badge badge-dark">{{ workflow_metadata(article, 'title', 'review') }}</span>
        {% endif %}
        {{ article.title }}
    </h1>

    <dl class="row">
        <dt class="col-2">ID</dt>
        <dd class="col-10">{{ article.id }}</dd>
        <dt class="col-2">Slug</dt>
        <dd class="col-10">{{ article.slug }}</dd>
        <dt class="col-2">Published</dt>
        <dd class="col-10">{{ article.publishedAt|date }}</dd>
        <dt class="col-2">Tags</dt>
        <dd class="col-10">
            {% for tag in article.tags %}
                <span class="badge badge-secondary">{{ tag }}</span>
            {% endfor %}
        </dd>
        <dt class="col-2">Title</dt>
        <dd class="col-10">{{ article.title }}</dd>
        <dt class="col-2">Subtitle</dt>
        <dd class="col-10">{{ article.subtitle }}</dd>
        <dt class="col-2">Body</dt>
        <dd class="col-10">{{ article|article_body_format }}</dd>
    </dl>

    <div class="btn-group" role="group">
        {% if is_granted('ARTICLE_EDIT', article) %}
            <a href="{{ path('app_article_update', {'article': article.slug}) }}" class="btn btn-primary">Edit</a>
        {% endif %}
        {% for transition in workflow_transitions(article) %}
            <a href="#" class="btn btn-outline-primary">{{ workflow_metadata(article, 'title', transition) }}</a>
        {% endfor %}
        <a href="{{ path('app_article_getlist') }}" class="btn btn-outline-secondary">Back</a>
    </div>
{% endblock %}
