{% extends 'public_base.html.twig' %}

{% block content %}
    <h1>Articles</h1>

    {% if is_granted('ROLE_ADMIN') %}
        <div class="btn-group" role="group">
            <a href="{{ path('app_article_create') }}" class="btn btn-primary">Create</a>
        </div>
    {% endif %}

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Date</th>
            <th scope="col">&#160;</th>
        </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <th scope="row">{{ articles.nbResults -  loop.index0 - articles.currentPageOffsetStart + 1 }}</th>
                <td>
                    {% if workflow_has_marked_place(article, 'draft') %}
                        <span class="badge badge-light">{{ workflow_metadata(article, 'title', 'draft') }}</span>
                    {% elseif workflow_has_marked_place(article, 'review') %}
                        <span class="badge badge-dark">{{ workflow_metadata(article, 'title', 'review') }}</span>
                    {% endif %}
                    <a href="{{ path('app_article_getdetail', {'article': article.slug}) }}">{{ article.title }}</a>
                    {% for tag in article.tags %}
                        <span class="badge badge-secondary">{{ tag }}</span>
                    {% endfor %}
                    {% if article.subtitle %}
                        <p class="small text-muted">{{ article.subtitle }}</p>
                    {% endif %}
                </td>
                <td class="text-nowrap">{{ article.publishedAt|date }}</td>
                <td>
                    {% set transitions = workflow_transitions(article) %}
                    {% set modalIds = {} %}
                    {% for transition in transitions %}
                        {% set modalIds = modalIds|merge({(transition.name): 'confirm_' ~ random()}) %}
                        <div class="modal" role="dialog" id="{{ modalIds[transition.name] }}">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">{{ article.title }}</h5>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <p>{{ workflow_metadata(article, 'title', transition) }}</p>
                                    </div>
                                    <div class="modal-footer">
                                        <form action="{{ path('app_article_workflow', {'article': article.slug}) }}"
                                              method="post">
                                            <input type="hidden" name="transition" value="{{ transition.name }}"/>
                                            <input type="hidden" name="_token"
                                                   value="{{ csrf_token('article_'~transition.name~'_'~article.id) }}"/>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel
                                            </button>
                                            <button type="submit" class="btn btn-outline-primary">
                                                {{ workflow_metadata(article, 'title', transition) }}
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="btn-group btn-group-sm" role="group">
                        {% if is_granted('ARTICLE_EDIT', article) %}
                            <a href="{{ path('app_article_update', {'article': article.slug}) }}"
                               class="btn btn-primary">Edit</a>
                        {% endif %}
                        {% for transition in transitions %}
                            <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                                    data-target="#{{ modalIds[transition.name] }}">
                                {{ workflow_metadata(article, 'title', transition) }}
                            </button>
                        {% endfor %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if articles.haveToPaginate %}
        <nav>
            {{ pagerfanta(articles) }}
        </nav>
    {% endif %}
{% endblock %}
