{% extends 'admin_base.html.twig' %}

{% block content %}
    <h1>
        {% if workflow_has_marked_place(article, 'draft') %}
            <span class="badge badge-light">{{ workflow_metadata(article, 'title', 'draft') }}</span>
        {% elseif workflow_has_marked_place(article, 'review') %}
            <span class="badge badge-dark">{{ workflow_metadata(article, 'title', 'review') }}</span>
        {% endif %}
        {{ article.title }}
    </h1>

    {{ form_start(form) }}

    <div class="form-group">
        <label for="author">Author</label>
        <input type="text" readonly class="form-control-plaintext" id="author" value="{{ article.author }}">
    </div>

    {{ form_rest(form) }}

    <div class="btn-group" role="group">
        <button type="submit" class="btn btn-primary">Update</button>
        <a href="{{ path('app_article_getlist') }}" class="btn btn-outline-secondary">Back</a>
    </div>

    {{ form_end(form) }}
{% endblock %}
