{% extends 'public_base.html.twig' %}

{% block content %}
    <h1>{{ user.name }}</h1>

    <dl class="row">
        <dt class="col-2">ID</dt>
        <dd class="col-10">{{ user.id }}</dd>
        <dt class="col-2">Last Name</dt>
        <dd class="col-10">{{ user.lastName }}</dd>
        <dt class="col-2">First Name</dt>
        <dd class="col-10">{{ user.firstName }}</dd>
        <dt class="col-2">E-mail</dt>
        <dd class="col-10">{{ user.email|safe_email }}</dd>
        <dt class="col-2">Confirmation</dt>
        <dd class="col-10">
            {% if not user.confirmed %}
                <span class="badge badge-warning">pending</span>
            {% else %}
                <span class="badge badge-success">confirmed</span>
            {% endif %}
        </dd>
        <dt class="col-2">Roles</dt>
        <dd class="col-10">
            {% for role in user.roles %}
                <span class="badge badge-info">{{ role }}</span>
            {% endfor %}
        </dd>
        <dt class="col-2">Password Changed</dt>
        <dd class="col-10">{{ user.passwordChanged ? user.passwordChanged|time_ago : '' }}</dd>
        <dt class="col-2">Last Login</dt>
        <dd class="col-10">
            {% if user.lastLogin %}
                {{ user.lastLogin|local_time }} from <code>{{ user.lastLoginIp }}</code>
                using <code>{{ user.lastLoginUserAgent }}</code>
            {% endif %}
        </dd>
        <dt class="col-2">Last Logout</dt>
        <dd class="col-10">
            {% if user.lastLogout %}
                {{ user.lastLogout|local_time }}
            {% endif %}
        </dd>
        <dt class="col-2">Login Failures</dt>
        <dd class="col-10">{{ user.loginFailures|number_format(0) }}</dd>
        <dt class="col-2">Last Login Failure</dt>
        <dd class="col-10">
            {% if user.lastLoginFailure %}
                {{ user.lastLoginFailure|local_time }} from <code>{{ user.lastLoginFailureIp }}</code>
                using <code>{{ user.lastLoginFailureUserAgent }}</code>
            {% endif %}
        </dd>
        <dt class="col-2">Last Updated</dt>
        <dd class="col-10">{{ user.updatedAt|relative_time }}</dd>
        <dt class="col-2">Created</dt>
        <dd class="col-10">{{ user.createdAt|relative_time }}</dd>
    </dl>

    <div class="btn-group" role="group">
        {% if is_granted('USER_EDIT', user) %}
            <a href="{{ path('app_user_update', {'user': user.id}) }}" class="btn btn-primary">Edit</a>
        {% endif %}
        <a href="{{ path('app_user_getlist') }}" class="btn btn-outline-secondary">Back</a>
    </div>
{% endblock %}
