{% extends 'public_base.html.twig' %}

{% block content %}
    <h1>Articles</h1>

    {% if is_granted('ROLE_ADMIN') %}
        <div class="btn-group" role="group">
            <a href="{{ path('app_user_create') }}" class="btn btn-primary">Create</a>
        </div>
    {% endif %}

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Confirmation</th>
            <th scope="col">E-mail</th>
            <th scope="col">Roles</th>
            <th scope="col">Updated</th>
            <th scope="col">&#160;</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            {% set isCurrentUser = app.user and app.user.username == user.email %}
            <tr {% if isCurrentUser %}class="table-info"{% endif %}>
                <td>
                    {% if isCurrentUser %}
                        <i class="fas fa-user" title="That's me!" data-toggle="tooltip" data-placement="top"></i>
                    {% endif %}
                    <a href="{{ path('app_user_getdetail', {'user': user.id}) }}">{{ user.name(true) }}</a>
                </td>
                <td>
                    {% if not user.confirmed %}
                        <span class="badge badge-warning">pending</span>
                    {% else %}
                        <span class="badge badge-success">confirmed</span>
                    {% endif %}
                </td>
                <td>{{ user.email|safe_email }}</td>
                <td>
                    {% for role in user.roles %}
                        <span class="badge badge-info">{{ role }}</span>
                    {% endfor %}
                </td>
                <td class="text-nowrap">{{ user.updatedAt|relative_time }}</td>
                <td>
                    <div class="btn-group btn-group-sm" role="group">
                        {% if is_granted('USER_EDIT', user) %}
                            <a href="{{ path('app_user_update', {'user': user.id}) }}"
                               class="btn btn-primary">Edit</a>
                        {% endif %}
                        {% if is_granted('USER_DELETE', user) %}
                            {{ include('common/_delete_btn.html.twig', {
                                title: 'Delete user',
                                body: 'Do you really want to delete the user?',
                                deleteAction: path('app_user_delete', {'user': user.id}),
                                csrfIntention: 'user_delete_' ~ user.id,
                            }) }}
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if users.haveToPaginate %}
        <nav>
            {{ pagerfanta(user) }}
        </nav>
    {% endif %}
{% endblock %}
